.navbar-light{
    -moz-box-shadow:0 0 10px darkslategrey;
    -webkit-box-shadow:0 0 10px darkslategrey;
    box-shadow: 0 0 10px darkslategrey;
}

.textCss {
    color: #2E384D !important;
    font-size: 18px;
    line-height: 23px;
}
// #normal-view{
//     display:block;
// }
#tab-view{
    display:none;
}
#mob-view{
    display:none;
}

:host ::ng-deep .popover {
    width:130px;
    left: 47px !important;
    top: -10px !important;
    max-width:150px;
}
.profileCls{
    text-align: left;
    padding: 3%;
    cursor: pointer;
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-left: 20px;
        padding-right: 20px;
    }
    
}

@media screen and (max-width: 768px) {
    #normal-view{
        display:none;
    }
    #mob-view{
        display:none;
    }
    #tab-view{
        display:block;
        border-bottom: 1px solid gray;
    }
    .headerClass{
        margin-top: 1%;
        margin-left: 2%;
    }
    :host ::ng-deep .popover {
        width: 130px;
        left: 25px !important;
        top: -4px !important;
        max-width: 150px;
    }
    .headerLogo{
        margin-left: -12%;
    }
    .textCss{
        text-align: right;
    }
    .textCss{
        color: #2E384D !important;
        font-size: 17px;
        line-height: 9px;
    }
}
@media screen and (max-width: 767px) and (min-width: 640px) {}
@media screen and (max-width: 639px) and (min-width: 481px) {
    .headerClass{
        margin-top: 1%;
        margin-left: 2%;
        font-size: 14px;
        line-height: 34px;
    }
    .headerLogo{
        margin-left: -12%;
    }
    .textCss{
        text-align: right;
    }
    .textCss{
        color: #2E384D !important;
        font-size: 17px;
        line-height: 18px;
    }
}

@media screen and (max-width: 480px) {

    #normal-view{
        display:none;
    }
    #mob-view{
        display:block;
    }
    #tab-view{
        display:none;
        border-bottom: 1px solid gray;
    }
    .headClass{
        margin-right: 2%;
    }
    .mob-header-css{
        margin-top: 2%;
        border-bottom: 1px solid gray;
        padding-bottom: 2%;
    }
    .headerLogo{
        margin-left: 140%;
    }
    .headClassUno{
        margin-right:13%;
        margin-left:5%;
    }
    .headClassQua{
        margin-right:13%;
    }
    .headClassTri{
        margin-right:5%;
    }
    :host ::ng-deep .popover {
        width: 120px;
        left: 0px !important;    
        top: 4px !important;
        max-width: 150px;
    }
  
}

@media screen and (max-width: 380px) {
    
    .headClass{
        margin-right: 2%;
    }
    :host ::ng-deep .popover {
        width: 110px;
        left: 0px !important;
        top: 4px !important;
        max-width: 150px;
    }
    .mob-header-css{
        margin-top: 2%;
        border-bottom: 1px solid gray;
        padding-bottom: 2%;
    }
    .headerLogo{
        margin-left: 115%;
    }
    .headClassUno{
        margin-right:10%;
        margin-left:1%;
    }
    .headClassQua{
        margin-right: 10%;
    }
    .headClassTri{
        margin-right:5%;
    }
    .fa-angle-down{
        font-size: 19px;
        float: right;
        margin-top: -6% !important;
    }
}
@media only screen and (max-width: 320px) {
    .headClass{
        margin-right: 2%;
    }
    .mob-header-css{
        margin-top: 2%;
        border-bottom: 1px solid gray;
        padding-bottom: 2%;
    }
    .headerLogo{
        margin-left: 96%;
    }
    .headClassUno{
        margin-right:6%;
        margin-left:0%;
    }
    .headClassQua{
        margin-right: 4%;
    }
    .headClassTri{
        margin-right:5%;
    }
    .fa-angle-down{
        margin-top: -7.6% !important;
        margin-right: -3% !important;
    }
    :host ::ng-deep .popover {
        width: 97px;
        left: 114px !important;
        top: -18px !important;
    }
}