<nav class="navbar navbar-expand-lg navbar-light" *ngIf="loginView$ | async as inLoginView" id="normal-view">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown" style="margin-left: 5%;">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link textCss">Explore <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link textCss" routerLink="/start-project">Start a project</a>
        </li>
      </ul>
    </div>
    <ul class="navbar-nav" style="margin-right: 33%;margin-top: 1%;">
      <li class="nav-item">
          <a  routerLink="/home"><img src="./assets/img/logo.png" style="width:140px;margin-bottom: 12%;"></a>
      </li>
    </ul>
    <ul class="navbar-nav" style="margin-right: 5%;">
      <li class="nav-item pull-right">
          <ng-container *ngIf="this.global.userName == ''">
             <a class="textCss" routerLink="/login">Sign in</a>
          </ng-container>
          <ng-container *ngIf="this.global.userName != ''">
              <a class="textCss" [popover]="popTemplate" [outsideClick]="true" placement="bottom">{{this.global.userName}} &nbsp;  
                <i class="fa fa-angle-down" aria-hidden="true" style="font-size: 20px;"></i>
              </a>
              <ng-template #popTemplate>
                  <div class="profileCls">
                    <div routerLink="/profile" > My Profile</div>
                  </div>
                  <div class="profileCls">
                    <div routerLink="/settings" > Edit Profile</div>
                  </div>
                  <div class="profileCls">
                    <div (click)="logout()" >Logout</div>
                  </div>
              </ng-template>
              <!-- <button type="button" class="btn btn-success"
                       popoverTitle="Dynamic html inside">
                Show me popover with html
              </button> -->
             
          </ng-container>
      </li>
    </ul>
  </nav>
  <div class="containe-fluid" *ngIf="loginView$ | async as inLoginView"  id="tab-view">
    <div class="row">
      <div class="col-sm-2 col-xs-1 headerClass">
        Explore
      </div>
      <div class="col-sm-3 col-xs-3 headerClass" routerLink="/start-project">
        Start a project
      </div>
      <div class="col-sm-3 col-xs-3 headerClass">
        <a routerLink="/home" class="headerLogo">
          <img src="./assets/img/logo.png" style="width:140px;margin-bottom: 12%;">
        </a>
      </div>
      <div class="col-sm-3 col-xs-3 headerClass">
        <ng-container *ngIf="this.global.userName == ''">
          <a class="textCss" routerLink="/login">Sign in</a>
        </ng-container>
        <ng-container *ngIf="this.global.userName != ''">
            <a class="textCss" [popover]="popTemplate" [outsideClick]="true" placement="bottom">{{this.global.userName}} &nbsp;  
              <i class="fa fa-angle-down" aria-hidden="true" style="font-size: 20px;"></i>
            </a>
            <ng-template #popTemplate>
                <div class="profileCls">
                  <div routerLink="/profile" > My Profile</div>
                </div>
                <div class="profileCls">
                  <div routerLink="/settings" > Edit Profile</div>
                </div>
                <div class="profileCls">
                  <div (click)="logout()" >Logout</div>
                </div>
            </ng-template>
            <!-- <button type="button" class="btn btn-success"
                     popoverTitle="Dynamic html inside">
              Show me popover with html
            </button> -->
           
        </ng-container>
      </div>
    </div>
  </div>
  <div class="container-fluid" *ngIf="loginView$ | async as inLoginView" id="mob-view">
    <div class="row">
      <div class="col-12-sm headClass">
        <a routerLink="/home" class="headerLogo">
          <img src="./assets/img/logo.png" style="width:110px">
        </a>
      </div>
      <div class="mob-header-css col-sm-12 col-xs-12">
        <span class="col-2-sm headClassUno headClass">
          Explore&nbsp;
        </span>
        <span class="col-2-sm headClassQua headClass" routerLink="/start-project">
          Start a project&nbsp;
        </span>
        
        <span class="col-2-sm headClassTri headClass" style="text-align:right;">
            <ng-container *ngIf="this.global.userName == ''">
                <a class="" routerLink="/login">Sign in</a>
             </ng-container>
             <ng-container *ngIf="this.global.userName != ''">
                <a class="textCss" [popover]="popTemplate" [outsideClick]="true" placement="bottom">{{this.global.userName}} &nbsp;  
                  <i class="fa fa-angle-down" aria-hidden="true" style="font-size: 19px;float: right;margin-top: -5.4%;"></i>
                </a>
                <ng-template #popTemplate>
                    <div class="profileCls">
                      <div routerLink="/profile" > My Profile</div>
                    </div>
                    <div class="profileCls">
                      <div routerLink="/settings" > Edit Profile</div>
                    </div>
                    <div class="profileCls">
                      <div (click)="logout()" >Logout</div>
                    </div>
                </ng-template>
                <!-- <button type="button" class="btn btn-success"
                         popoverTitle="Dynamic html inside">
                  Show me popover with html
                </button> -->
               
            </ng-container>
        </span>
      </div>
    </div>
  </div>