.footer{
    background-color: #fff;
    /* border-top: 1px solid #979797; */
}
.footer-content{
    height: 325px;
}
.lower-footer{
    height: 57px;
    border-top: 1px solid #979797;
}
.lower-footer>div {
    margin: 15px 50px 30px 50px !important;
}
.border-btm{
    border-top:1px solid #979797;
}

.lower-footer-text{
    color: rgba(74,74,74,0.79);	
    font-size: 21px;	
    line-height: 24px;
}
.title-text{
    color: rgba(74,74,74,0.79);
    font-size: 21px;	
    font-weight: 600;	
    line-height: 24px;
    margin-left: 8%;
}
.title-text-secondary{
    color: rgba(74,74,74,0.79);
    font-size: 21px;	
    font-weight: 400;	
    line-height: 24px;
    margin-left: 6%;
}
.footer-content-div{
    margin-top:4%;
}
.content-header{
    margin-bottom: 8%;
    height: 24px;
    font-size: 21px;
    line-height: 24px;
    font-weight: 600;
    color: rgba(74,74,74,0.79);
}
.content-body{
    height: 24px;
    color: rgba(74,74,74,0.79);
    font-size: 21px;
    line-height: 24px;
}
.fa-facebook{
    font-size:20px;
    color: rgba(74, 74, 74, 0.79);
    cursor: pointer;
}
.fa-youtube-play, .fa-twitter, .fa-instagram, .fa-medium, .fa-reddit-alien{
    font-size:20px;
    margin-left:6%;
    color: rgba(74, 74, 74, 0.79);
    cursor: pointer;
}
.content-selector{
    cursor: pointer;
    margin-top: 15px;
}
.no-padding{
    padding:0px !important;
    margin :0px !important;
}

@media screen and (max-width: 1200px) and (min-width: 992px) {}
@media screen and (max-width: 991px) and (min-width: 767px) {
    .content-body-icons{
        margin-top: 50% !important;
    }
    .title-text{
        margin-left: 15%;
    }
}
@media screen and (max-width: 768px) {
    .title-text{
        margin-left: 2%;
    }
    .footer-content{
        height:300px;
        margin-bottom: 2%;
    }
    .footer-content-div{
        height:180px;
    }
    .fa-youtube-play, .fa-twitter, .fa-instagram, .fa-medium, .fa-reddit-alien{
        font-size:20px;
        margin-left:10%;
        color: rgba(74, 74, 74, 0.79);
        cursor: pointer;
    }
    .lower-footer-text{
        font-size: 13px;
    }
    .content-body-icons{
        margin-top: 85% !important;
    }
}
@media screen and (max-width: 767px) and (min-width: 640px) {
    .title-text{
        margin-left: 22%;
    }
    .footer-content{
        height:480px;
        margin-bottom: 2%;
    }
    .footer-content-div{
        height:180px;
    }
    .fa-youtube-play, .fa-twitter, .fa-instagram, .fa-medium, .fa-reddit-alien{
        font-size:20px;
        margin-left:10%;
        color: rgba(74, 74, 74, 0.79);
        cursor: pointer;
    }
    .lower-footer-text{
        font-size: 13px;
    }
}
@media screen and (max-width: 575px) and (min-width: 481px) {
	.content-body-icons{
		margin-top: 20% !important;
	}
}
@media screen and (max-width: 639px) and (min-width: 481px) {
    .logo-footer{
        margin-left: 75px !important;
    }
    .footer-content{
        height:600px;
        margin-bottom: 2%;
    }
    .footer-content-div{
        height:180px;
    }
    .content-header{
        margin-bottom: 2%;
        font-size: 21px;
    }
    .title-text{
        font-size: 21px;
        margin-left: 16%;
    }
    .content-body{
        font-size: 18px;
    }
    .fa-youtube-play, .fa-twitter, .fa-instagram, .fa-medium, .fa-reddit-alien{
        font-size:20px;
        margin-left:8%;
        color: rgba(74, 74, 74, 0.79);
        cursor: pointer;
    }
	.content-body-icons{
		margin-top: 37% !important;
	}
    .lower-footer-text{
        font-size: 15px;
    }
    .lower-footer{
        margin-bottom: 3%;
    }
    .title-text-secondary{
        font-size: 23px;
        margin-left: 8%;
    }
}
@media only screen and (max-width: 555px) {
    .logo-footer{
        margin-left: 64px !important;
    }
    .footer-content{
        height:600px;
        margin-bottom: 2%;
    }
    .footer-content-div{
        height:180px;
    }
    .content-header{
        margin-bottom: 2%;
        font-size: 21px;
    }
    .title-text{
        font-size: 19px;
        margin-left: 16%;
    }
    .content-body{
        font-size: 18px;
    }
    .fa-youtube-play, .fa-twitter, .fa-instagram, .fa-medium, .fa-reddit-alien{
        font-size:20px;
        margin-left:14%;
        color: rgba(74, 74, 74, 0.79);
        cursor: pointer;
    }
    .lower-footer-text{
        font-size: 15px;
    }
    .lower-footer{
        margin-bottom: 15%;
    }
    .content-body-icons{
        margin-top: 24% !important;
    }

}
@media screen and (max-width: 480px) {
    .logo-footer{
        margin-left: 50px !important;
    }
    .footer-content{
        height:600px;
        margin-bottom: 2%;
    }
    .footer-content-div{
        height:150px;
        margin-top: 10%;
    }
    .content-header{
        margin-bottom: 2%;
        font-size: 21px;
    }
    .title-text{
        font-size: 18px;
    }
    .content-body{
        font-size: 18px;
    }
    .fa-youtube-play, .fa-twitter, .fa-instagram, .fa-medium, .fa-reddit-alien{
        font-size:20px;
        margin-left:12%;
        color: rgba(74, 74, 74, 0.79);
        cursor: pointer;
    }
    .lower-footer-text{
        font-size: 15px;
    }
    .lower-footer{
        margin-bottom: 15%;
    }
}
@media screen and (max-width: 406px) {
    .logo-footer{
        margin-left: 50px !important;
    }
    .content-body-icons{
        margin-top: 40% !important;
    }
    .footer-content{
        height:600px;
        margin-bottom: 2%;
    }
    .footer-content-div{
        height:150px;
    }
    .content-header{
        margin-bottom: 2%;
        font-size: 21px;
    }
    .title-text{
        font-size: 18px;
    }
    .content-body{
        font-size: 18px;
    }
    .fa-youtube-play, .fa-twitter, .fa-instagram, .fa-medium, .fa-reddit-alien{
        font-size:20px;
        margin-left:12%;
        color: rgba(74, 74, 74, 0.79);
        cursor: pointer;
    }
    .lower-footer-text{
        font-size: 15px;
    }
    .lower-footer{
        margin-bottom: 15%;
    }
}
@media screen and (max-width: 380px) {
    .logo-footer{
        margin-left: 45px !important;
    }
    .content-body-icons{
        margin-top: 40% !important;
    }
    .footer-content{
        height:600px;
        margin-bottom: 2%;
    }
    .footer-content-div{
        height:180px;
    }
    .content-header{
        margin-bottom: 1%;
        font-size: 20px;
    }
    .title-text{
        font-size: 15px;
    }
    .content-body{
        font-size: 18px;
        line-height: 28px;
    }
    .fa-youtube-play, .fa-twitter, .fa-instagram, .fa-medium, .fa-reddit-alien{
        font-size:20px;
        margin-left:12%;
        color: rgba(74, 74, 74, 0.79);
        cursor: pointer;
    }
    .lower-footer-text{
        font-size: 15px;
    }
    .lower-footer{
        margin-bottom: 15%;
    }
    .title-text-secondary{
        font-size: 17px;
    }
}
@media only screen and (max-width: 320px) {
    .logo-footer{
        margin-left: 35px !important;
    }
    .footer-content{
        height:600px;
        margin-bottom: 2%;
    }
    .footer-content-div{
        height:180px;
    }
    .content-header{
        margin-bottom: 1%;
        font-size: 20px;
    }
    .title-text{
        font-size: 14px;
    }
    .content-body{
        font-size: 18px;
        line-height: 28px;
    }
    .fa-youtube-play, .fa-twitter, .fa-instagram, .fa-medium, .fa-reddit-alien{
        font-size:18px;
        margin-left:10%;
        color: rgba(74, 74, 74, 0.79);
        cursor: pointer;
    }
    .lower-footer-text{
        font-size: 15px;
    }
    .lower-footer{
        margin-bottom: 15%;
    }
    .content-body-icons{
        margin-top: 40% !important;
    }
    .title-text-secondary{
        font-size: 15px;
        margin-left: 2%;
    }
    .title-text{
        font-size: 19px;
        margin-left: 10%;
    }
}
@media only screen and (max-width: 991px) {}
@media only screen and (max-width:2560px)and (min-width: 991px) {}
