<div class="container-fluid no-padding border-btm" *ngIf="loginView$ | async as inLoginView">
    <div class="footer">
        <div class="footer-content no-padding">
            <div class="row no-padding">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 footer-content-main">
                        <img class="logo-footer" src="./assets/img/footer-logo.png" style="margin-left: 80px;margin-bottom: 0%;width: 75%;">
                        <span class="title-text">Crowdfunding,</span>
                        <span class="title-text-secondary">Copyright @2019</span>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 footer-content-div">
                    <div class="content-header col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="col-sm-12">ABOUT</div>
                    </div>
                    <div class="content-body col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="col-sm-12 content-selector" routerLink="/about">About Us</div>
                        <div class="col-sm-12 content-selector" routerLink="/press">Press</div>
                        <div class="col-sm-12 content-selector">Careers</div>
                        <div class="col-sm-12 content-selector" routerLink="/what-we-do">What we do</div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 footer-content-div">
                        <div class="content-header col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="col-sm-12">SUPPORT</div>
                        </div>
                        <div class="content-body col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="col-sm-12 content-selector" routerLink="/support">Help Center</div>
                                <div class="col-sm-12 content-selector">Our Rules</div>
                                <div class="col-sm-12 content-selector">FAQ</div>
                        </div>
                        <div class="content-body-icons col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:50%;">
                            <div class="col-sm-12">
                                <i class="fa fa-facebook"></i>
                                <i class="fa fa-youtube-play"></i>
                                <i class="fa fa-twitter"></i>
                                <i class="fa fa-instagram"></i>
                                <i class="fa fa-medium"></i>
                                <i class="fa fa-reddit-alien"></i>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
        <div class="lower-footer">
            <div class="row no-padding">
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 lower-footer-text content-selector" routerLink="/trust-safety">Trust & Safety</div>
                <div class="col-lg-4 col-md-3 col-sm-12 col-xs-12 lower-footer-text content-selector">Terms & Conditions</div>
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 lower-footer-text content-selector">Privacy Policy</div>
                <div class="col-lg-2 col-md-3 col-sm-12 col-xs-12 lower-footer-text content-selector">Cookie Policy</div>
            </div>
        </div>
    </div>
</div>