<!-- <div class="container-fluid"> -->
    <div class="support-search-div">
      <div class="row" style="margin-right: 0px !important;">
        <div class="col-sm-4"></div>
        <div class="col-sm-4" style="text-align:center;">
          <div>
            <img class="need-help" src="./assets/img/needhelp.png" style="margin-top: 10%;height: 137px;">
          </div>
        </div>
        <div class="col-sm-4"></div>
        <div class="col-sm-3"></div>
        <div class="col-sm-6" style="text-align:center;">
          <div class="help-search-div">
            <i class="fa fa-search"></i>
            <input type="text" class="form-control help-bar" placeholder="Search for our help information"/>  
          </div>
        </div>
        <div class="col-sm-3"></div>
      </div>
    </div>
    <div id="support-main" style="padding-bottom: 7%;">
      <div class="row" style="margin-top: 3%;margin-bottom: 3%;margin-right: 0px !important;" >
        <div class="col-lg-2 col-md-1 col-sm-1 col-xs-0"></div>

        <div class="col-lg-8 col-md-10 col-sm-10 col-xs-10">
          <div class="row">
            <div class="col-sm-4 faq-box" style="text-align:center;cursor:pointer;" (click)="openSupport('banker')">
                <div class="help-div-banker">
                    <img class="help-img" src="./assets/img/bankers_icon.png" style="margin-bottom: 4%;width: 26%;margin-top: 6%;">
                    <p class="help-text">Backers</p>
                    <div class="help-div-body">
                      <p class="help-text-secondary">Check how to evaluate back crowdfunding campaigns, and  manage your orders.</p>
                      <p class="help-text2">View All</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 faq-box" style="text-align:center;cursor:pointer;" (click)="openSupport('payment')">
                <div class="help-div-banker">
                    <img class="help-img" src="./assets/img/payments_icon.png" style="margin-bottom: 4%;width: 26%;margin-top: 14%;">
                      <p class="help-text">Payments</p>
                      <div class="help-div-body">
                        <p class="help-text-secondary">Check how to evaluate back crowdfunding campaigns, and  manage your orders.</p>
                        <p class="help-text2">View All</p>
                      </div>
                </div>
            </div>
            <div class="col-sm-4 faq-box" style="text-align:center;cursor:pointer;" (click)="openSupport('profile')">
                  <div class="help-div-banker" >
                        <img class="help-img" src="./assets/img/profile_icon.png" style="margin-bottom: 4%;width: 26%;margin-top: 7%;">
                        <p class="help-text">Profile</p>
                        <div class="help-div-body">
                          <p class="help-text-secondary">Check how to evaluate back crowdfunding campaigns, and  manage your orders.</p>
                          <p class="help-text2">View All</p>
                        </div>
                  </div>
            </div>
          </div>

        </div>
        
        <div class="col-lg-2 col-md-1 col-sm-1 col-xs-0"></div>
      </div>
    </div>
    <div class="row faq-new-div" id="faq-div" style="display:none;">
        <i class="fa fa-arrow-left" style="font-size: 28px;color: #1DA1F2;margin-top: 0%;margin-bottom: 2%;position: absolute;cursor: pointer;margin-left: -3%;" (click)="goBack()"></i>
      <div class="col-sm-12" id="banker" style="display:none;">
        <p class="help-text3">Backers</p>
        <br/>
        <div class="support-faq"><span class="faq-header">Find out how to evaluate and back crowdfunding campaigns and manage your orders.   </span>
          <i id="bankerFaq-id" class="fa fa-angle-down" (click)="isBankerCollapsed = !isBankerCollapsed;changeIcon('bankerFaq-id',isBankerCollapsed)" [attr.aria-expanded]="isBankerCollapsed" aria-controls="bankerFaq"></i>
          <div id="bankerFaq" [collapse]="isBankerCollapsed" [isAnimated]="true" style="padding: 16px 0px 10px;">
              <div class="faq-body-text">Some content Find out how to evaluate and back crowdfunding campaigns and manage your orders.  Find out how to evaluate and back crowdfunding campaigns and manage your orders. </div>
          </div>
        </div>
        <div class="support-faq"><span class="faq-header">Find out how to evaluate and back crowdfunding campaigns and manage your orders.   </span>
          <i id="bankerFaq1-id" class="fa fa-angle-down" (click)="isBankerCollapsed1 = !isBankerCollapsed1;changeIcon('bankerFaq1-id',isBankerCollapsed1)" [attr.aria-expanded]="!isBankerCollapsed1" aria-controls="bankerFaq1"></i>
          <div id="bankerFaq1" [collapse]="isBankerCollapsed1" [isAnimated]="true" style="padding: 16px 0px 10px;">
              <div class="faq-body-text">Some content Find out how to evaluate and back crowdfunding campaigns and manage your orders.  Find out how to evaluate and back crowdfunding campaigns and manage your orders. </div>
          </div>
        </div>
        <div class="support-faq"><span class="faq-header">Find out how to evaluate and back crowdfunding campaigns and manage your orders.   </span>
          <i id="bankerFaq2-id" class="fa fa-angle-down" (click)="isBankerCollapsed2 = !isBankerCollapsed2;changeIcon('bankerFaq2-id',isBankerCollapsed2)" [attr.aria-expanded]="!isBankerCollapsed2" aria-controls="bankerFaq2"></i>
          <div id="bankerFaq2" [collapse]="isBankerCollapsed2" [isAnimated]="true" style="padding: 16px 0px 10px;">
              <div class="faq-body-text">Some content Find out how to evaluate and back crowdfunding campaigns and manage your orders.  Find out how to evaluate and back crowdfunding campaigns and manage your orders. </div>
          </div>
        </div>
          
      </div>
      <div class="col-sm-12" id="payment" style="display:none;">
        <p class="help-text3">Payments</p>
        <br/>
        <div class="support-faq"><span class="faq-header">Find out how to evaluate and back crowdfunding campaigns and manage your orders.   </span>
          <i id="paymentFaq-id" class="fa fa-angle-down" (click)="isBankerCollapsed = !isBankerCollapsed;changeIcon('paymentFaq-id',isBankerCollapsed)" [attr.aria-expanded]="isBankerCollapsed" aria-controls="bankerFaq"></i>
          <div id="bankerFaq" [collapse]="isBankerCollapsed" [isAnimated]="true" style="padding: 16px 0px 10px;">
              <div class="faq-body-text">Some content Find out how to evaluate and back crowdfunding campaigns and manage your orders.  Find out how to evaluate and back crowdfunding campaigns and manage your orders. </div>
          </div>
        </div>
        <div class="support-faq"><span class="faq-header">Find out how to evaluate and back crowdfunding campaigns and manage your orders.   </span>
          <i id="paymentFaq1-id" class="fa fa-angle-down" (click)="isBankerCollapsed1 = !isBankerCollapsed1;changeIcon('paymentFaq1-id',isBankerCollapsed1)" [attr.aria-expanded]="!isBankerCollapsed1" aria-controls="bankerFaq1"></i>
          <div id="bankerFaq1" [collapse]="isBankerCollapsed1" [isAnimated]="true" style="padding: 16px 0px 10px;">
              <div class="faq-body-text">Some content Find out how to evaluate and back crowdfunding campaigns and manage your orders.  Find out how to evaluate and back crowdfunding campaigns and manage your orders. </div>
          </div>
        </div>
        <div class="support-faq"><span class="faq-header">Find out how to evaluate and back crowdfunding campaigns and manage your orders.   </span>
          <i id="paymentFaq2-id" class="fa fa-angle-down" (click)="isBankerCollapsed2 = !isBankerCollapsed2;changeIcon('paymentFaq2-id',isBankerCollapsed2)" [attr.aria-expanded]="!isBankerCollapsed2" aria-controls="bankerFaq2"></i>
          <div id="bankerFaq2" [collapse]="isBankerCollapsed2" [isAnimated]="true" style="padding: 16px 0px 10px;">
              <div class="faq-body-text">Some content Find out how to evaluate and back crowdfunding campaigns and manage your orders.  Find out how to evaluate and back crowdfunding campaigns and manage your orders. </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12" id="profile" style="display:none;">
        <p class="help-text3">Profile</p>
        <br/>
        <div class="support-faq"><span class="faq-header">Find out how to evaluate and back crowdfunding campaigns and manage your orders.   </span>
          <i id="profileFaq-id" class="fa fa-angle-down" (click)="isBankerCollapsed = !isBankerCollapsed;changeIcon('profileFaq-id',isBankerCollapsed)" [attr.aria-expanded]="isBankerCollapsed" aria-controls="bankerFaq"></i>
          <div id="bankerFaq" [collapse]="isBankerCollapsed" [isAnimated]="true" style="padding: 16px 0px 10px;">
              <div class="faq-body-text">Some content Find out how to evaluate and back crowdfunding campaigns and manage your orders.  Find out how to evaluate and back crowdfunding campaigns and manage your orders. </div>
          </div>
        </div>
        <div class="support-faq"><span class="faq-header">Find out how to evaluate and back crowdfunding campaigns and manage your orders.   </span>
          <i id="profileFaq1-id" class="fa fa-angle-down" (click)="isBankerCollapsed1 = !isBankerCollapsed1;changeIcon('profileFaq1-id',isBankerCollapsed1)" [attr.aria-expanded]="!isBankerCollapsed1" aria-controls="bankerFaq1"></i>
          <div id="bankerFaq1" [collapse]="isBankerCollapsed1" [isAnimated]="true" style="padding: 16px 0px 10px;">
              <div class="faq-body-text">Some content Find out how to evaluate and back crowdfunding campaigns and manage your orders.  Find out how to evaluate and back crowdfunding campaigns and manage your orders. </div>
          </div>
        </div>
        <div class="support-faq"><span class="faq-header">Find out how to evaluate and back crowdfunding campaigns and manage your orders.   </span>
          <i id="profileFaq2-id" class="fa fa-angle-down" (click)="isBankerCollapsed2 = !isBankerCollapsed2;changeIcon('profileFaq2-id',isBankerCollapsed2)" [attr.aria-expanded]="!isBankerCollapsed2" aria-controls="bankerFaq2"></i>
          <div id="bankerFaq2" [collapse]="isBankerCollapsed2" [isAnimated]="true" style="padding: 16px 0px 10px;">
              <div class="faq-body-text">Some content Find out how to evaluate and back crowdfunding campaigns and manage your orders.  Find out how to evaluate and back crowdfunding campaigns and manage your orders. </div>
          </div>
        </div>
      </div>
    </div>
  <!-- </div> -->