
@heading-color: rgb(99, 200, 200);
@heading-wight: 600;
@heading-size: 18px;
@btn-width:100%;

@my-selector: secondary-text;
@text-box:help-text;
@text-box2:help-text2;
@text-secondary:help-text-secondary;

.@{my-selector} {
    font-weight: 400;
    line-height: 10px;
    margin: 0 auto;
    font-size:12px;
    color:#colors[subTextClr];
    letter-spacing: 1px;
  }
  
  .@{text-box} {
    font-weight: 700;
    margin: 0 auto;
    font-size: 18px;
    color: #9013FE;
    letter-spacing: 1px;
  }
  .@{text-box2} {
    font-weight: 700;
    margin: 0 auto;
    font-size: 14px;
    color: #9013FE;
    letter-spacing: 1px;
    line-height: 16px;
    margin-top: 5%;
  }
  .@{text-secondary} {
    font-weight: 500;
    margin: 0 0 9px 0px;
    font-size: 16px;
    color: dimgrey;
    font-family: 'Roboto', sans-serif;
    line-height: 19px;
  }


#colors() {
    primary: #1DA1F2;
    secondary: #F4F6FC;
    hover:cadetblue;
    hoverColor:#ffffff;
    fontClr:#111;
    subTextClr:lightsteelblue;
    text-box-clr:ghostwhite;
    back-color:#F4F6FC;
  }

.container-fluid{
    background-color: #colors[secondary];
}
.help-div-body{
    margin-top: 7%;
}

.support-search-div{
    background-color: #colors[primary];
    height: 380px;
    color:#fff;
    text-shadow: 1px 1px 1px #000, 
               3px 3px 5px blue; 
}
.help-search-div{
    margin-top: 10%;
    width: 100%;
}
.help-bar{
    border-radius: 1px;
    height: 48px;
    padding-left: 75px;
    font-size: 16px;
    padding-bottom: 7px;
    color: #4A4A4A;
    -moz-box-shadow:0 0 10px darkslategrey;
    -webkit-box-shadow:0 0 10px darkslategrey;
    box-shadow: 0 0 10px darkslategrey;
}
.fa-search{
    font-size: 24px;
    position: absolute;
    left: 47px;
    top: 74px;
    color: black;
    text-shadow: none;
}
.faq-new-div{
    margin: 3% 22%;
}
.help-text3{
    color: #9013FE;	
    font-family: Roboto;	
    font-size: 28px;	
    font-weight: bold;	
    line-height: 33px;
}

.btn{
    background-color:#colors[primary];
    color: #colors[secondary];
    width:@btn-width;
    margin-top: 1%;
    margin-bottom: 2%;
}
.help-div-banker{
    border:1px solid gray;
    height: 280px;
    padding-top: 3%;
    padding-bottom: 1%;
    padding-left: 2%;
    padding-right: 2%;
    background: #fff;
}
.support-faq{
    background: #fff;
    margin-bottom: 2%;
    height: auto;
    border: 1px solid #979797;
    /* border: 1px solid lightgray; */
    border-radius: 8px;
    padding: 20px 80px 20px 39px;
    font-size: 23px;
}
.fa-angle-down{
    font-size: 42px;
    position: absolute;
    cursor: pointer;
    margin-top: -36px;
    right: 60px;
}
.fa-angle-up{
    font-size: 42px;
    position: absolute;
    cursor: pointer;
    margin-top: -36px;
    right: 60px;
}
.faq-header{
    font-weight: 600;
    color: #4A4A4A;	
    font-family: Roboto;	
    font-size: 16px;	
    font-weight: bold;	
    text-align: center;
}
.faq-body-text{
    color: #4A4A4A;	
    font-family: Roboto;	
    font-size: 16px;		
    text-align: center;
}


@media screen and (max-width: 1200px) and (min-width: 992px) {

    .fa-search{
        font-size: 23px;
        position: absolute;
        left: 45px;
        top: 69px;
        color: black;
        text-shadow: none;
    }

}
@media screen and (max-width: 991px) and (min-width: 767px) {

    .fa-search{
        font-size: 23px;
        position: absolute;
        left: 45px;
        top: 59px;
    }
    .fa-angle-down {
        font-size: 42px;
        position: absolute;
        cursor: pointer;
        margin-top: -36px;
        right: 60px;
    }
    .fa-angle-up {
        font-size: 42px;
        position: absolute;
        cursor: pointer;
        margin-top: -36px;
        right: 60px;
    }
    .help-bar {
        height: 48px;
        padding-left: 75px;
        font-size: 16px;
        padding-bottom: 10px;
    }
}
@media screen and (max-width: 768px) {
    .fa-search {
        font-size: 20px;
        position: absolute;
        left: 30px;
        top: 51px;
        color: black;
        text-shadow: none;
    }
    .faq-new-div{
        margin: 3% 12%;
    }
    .help-text-secondary{
        font-weight: 500;
        margin: 0 auto;
        font-size: 18px;
        color: dimgrey;
        letter-spacing: 1px;
    }

    .help-text {
        font-weight: 700;
        margin: 0 auto;
        font-size: 21px;
        color: #9013FE;
        letter-spacing: 1px;
    }
    .help-bar{
        height: 48px;
        padding-left: 45px;
        font-size: 15px;
        padding-bottom: 7px;
    }
    .need-help{
        height: 123px !important;
    }
}
@media screen and (max-width: 767px) and (min-width: 640px) {
    .fa-search {
        font-size: 19px;
        position: absolute;
        left: 30px;
        top: 49px;
    }
    .help-text-secondary{
        font-weight: 500;
        margin: 0 auto;
        font-size: 15px;
        color: dimgrey;
        letter-spacing: 1px;
    }
    .support-search-div{
        height: 300px;
    }
    .help-div-banker{
       height: 240px;
    }

    .help-text {
        font-size: 17px;
    }
    .help-bar{
        height: 48px;
        padding-left: 41px;
        font-size: 15px;
        padding-bottom: 10px;
    }
    .need-help{
        height: 123px !important;
    }
    .help-text3{
        color: #9013FE;
        font-family: Roboto;
        font-size: 22px;
        font-weight: bold;
        line-height: 15px;
    }
    .fa-arrow-left{
        font-size: 24px !important;
        color: #1DA1F2;
        margin-top: -0.7% !important;
        margin-bottom: 2%;
        position: absolute;
        cursor: pointer;
        margin-left: -3%;
    }
}
@media screen and (max-width: 639px) and (min-width: 481px) {
    .support-search-div {
        background-color: #1DA1F2;
        height: 260px;
        color: #fff;
        text-shadow: 1px 1px 1px #000, 3px 3px 5px blue;
    }
    .need-help{
        height: 104px !important;
    }
    .help-bar {
        height: 47px;
        padding-left: 36px;
        font-size: 15px;
        padding-bottom: 8px;
    }
    .fa-search {
        font-size: 17px;
        position: absolute;
        left: 27px;
        top: 45px;
    }
    .help-text-secondary {
        font-size: 15px;
    }
    .help-text{
        font-size: 17px;
    }
    .help-div-banker{
        border: 1px solid gray;
        height: 270px;
        padding-top: 3%;
        padding-bottom: 1%;
        padding-left: 1%;
        padding-right: 1%;
        background: #fff;
    }
    .support-faq {
        background: #fff;
        margin-bottom: 2%;
        height: auto;
        border: 1px solid lightgray;
        border-radius: 10px;
        padding: 12px 66px 12px 21px;
        font-size: 14px;
    }
    .fa-angle-down{
        font-size: 42px;
        position: absolute;
        cursor: pointer;
        margin-top: -36px;
        right: 60px;
    }
    .fa-angle-up{
        font-size: 42px;
        position: absolute;
        cursor: pointer;
        margin-top: -36px;
        right: 60px;
    }
    .help-text3{
        color: #9013FE;
        font-family: Roboto;
        font-size: 22px;
        font-weight: bold;
        line-height: 15px;
    }
    .fa-arrow-left{
        font-size: 24px !important;
        color: #1DA1F2;
        margin-top: -0.7% !important;
        margin-bottom: 2%;
        position: absolute;
        cursor: pointer;
        margin-left: -3%;
    }
}
@media only screen and (max-width: 555px) {
    .help-bar {
        border-radius: 1px;
        height: 47px;
        padding-left: 31px;
        font-size: 15px;
        padding-bottom: 12px;
        margin-left: 2%;
        color: #4A4A4A;
        box-shadow: 0 0 10px darkslategrey;
        width: 96%;
    }
    .fa-search {
        font-size: 19px;
        position: absolute;
        left: 35px;
        top: 62px;
        color: black;
        text-shadow: none;
    }
    .help-img{
        width: 19% !important;
    }
    .fa-arrow-left{
        font-size: 27px !important;
        color: #1DA1F2;
        margin-top: 0% !important;
        margin-bottom: 2%;
        position: absolute;
        cursor: pointer;
        margin-left: -3% !important;
    }
}
@media screen and (max-width: 480px) {
    .help-bar {
        height: 47px;
        padding-left: 50px;
        font-size: 17px;
        padding-bottom: 5px;
        margin-left: 4%;
    }
    .fa-search {
        font-size: 18px;
        position: absolute;
        left: 47px;
        top: 57px;
    }
    .help-img{
        width: 19% !important;
    }
    .fa-arrow-left{
        font-size: 25px !important;
        margin-top: -1% !important;
    }
    .help-div-banker{
        border: 1px solid gray;
        height: 280px;
        padding-top: 0%;
        padding-bottom: 1%;
        padding-left: 2%;
        padding-right: 2%;
        margin-bottom: 3%;
        background: #fff;
        margin-left: 4%;
    }
    .support-search-div{
        background-color: #1DA1F2;
        height: 300px;
        color: #fff;
        text-shadow: 1px 1px 1px #000, 3px 3px 5px blue;
    }
    .support-faq{
        background: #fff;
        margin-bottom: 2%;
        height: auto;
        border: 1px solid lightgray;
        border-radius: 10px;
        padding: 14px 50px 14px 21px;
        font-size: 14px;
    }
    .fa-angle-down{
        font-size: 40px;
        position: absolute;
        cursor: pointer;
        margin-top: -36px;
        right: 30px;
    }
    .fa-angle-up{
        font-size: 40px;
        position: absolute;
        cursor: pointer;
        margin-top: -36px;
        right: 30px;
    }
    .help-text {
        font-weight: 700;
        margin: 0 auto;
        font-size: 19px;
        color: #9013FE;
        letter-spacing: 1px;
    }
    #bankerFaq, #bankerFaq1, #bankerFaq2{
        padding: 20px 3px 25px 0px !important;
    }
    .help-text3{
        color: #9013FE;
        font-family: Roboto;
        font-size: 22px;
        font-weight: bold;
        line-height: 15px;
    }
    // .fa-arrow-left{
    //     font-size: 24px !important;
    //     color: #1DA1F2;
    //     margin-top: -0.7% !important;
    //     margin-bottom: 2%;
    //     position: absolute;
    //     cursor: pointer;
    //     margin-left: -3%;
    // }
    .faq-new-div {
        margin: 3% 5%;
    }
}

@media screen and (max-width: 380px) {
    .fa-search{
        font-size: 19px;
        position: absolute;
        left: 41px;
        top: 50px;
    }
    .faq-new-div {
        margin: 3% 5%;
    }
    .support-faq {
        background: #fff;
        margin-bottom: 2%;
        height: auto;
        border: 1px solid lightgray;
        border-radius: 10px;
        padding: 14px 14px 14px 21px;
        font-size: 13px;
    }
    #bankerFaq, #bankerFaq1, #bankerFaq2{
        padding: 20px 3px 10px 0px !important;
    }
}
@media only screen and (max-width: 320px) {
    .help-bar{
        height: 47px;
        padding-left: 42px;
        font-size: 14px;
        padding-bottom: 6px;
        width: 96%;
    }
    .faq-header {
        font-size: 13px;
    }
    .fa-search {
        font-size: 18px;
        position: absolute;
        left: 34px;
        top: 41px;
        color: black;
        text-shadow: none;
    }
    .fa-angle-down {
        font-size: 30px;
        position: absolute;
        cursor: pointer;
        margin-top: -36px;
        right: 24px;
    }
    .fa-angle-up {
        font-size: 30px;
        position: absolute;
        cursor: pointer;
        margin-top: -36px;
        right: 24px;
    }
    .need-help{
        height: 100px !important;
    }
    .support-search-div{
        background-color: #1DA1F2;
        height: 250px;
        color: #fff;
        text-shadow: 1px 1px 1px #000, 3px 3px 5px blue;
    }
    .faq-body-text{
        color: #4A4A4A;
        font-family: Roboto;
        font-size: 15px;
    }
}