<div class="trust-safety-vd">
	<img src="./assets/img/trustandsafety.png" />
</div>

<div class="trust-safety-main">
	<div class="trust-safety-content">
		<div class="row">
			<div class="col-sm-12">
				<div class="desc">
					We take our responsibility as crowdfunding stewards very seriously. It's our job to provide a system deserving of your trust — by proactively screening for potential problems, by investigating issues brought to us by our community, and by still being exceedingly clear that even with these steps not every project will go as planned.
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="desc mt-40">
					Our goal is to provide a safe and trusted platform where people are honest and open with one another as they collaborate to bring creative projects to life.
				</div>
			</div>
		</div>
	</div>

	<div class="sec-divider"></div>

	<div class="trust-safety-content bg-color">
		<div class="row">
			<div class="col-sm-12">
				<div class="desc">
						<div class="safeguard">We have safeguards in place</div>
						Your trust in Indiegogo is important. We do our best to ensure you have a positive and safe experience with Indiegogo. Our experienced Trust & Safety team is as passionate about innovation as our community is, and we’re dedicated to making sure that we do everything we can to prevent fraud on the platform so that we can keep you safe. This includes both automated and manual reviews of campaigns, and working closely with payment leaders to ensure your funds are processed securely and efficiently. We also have round-the-clock monitoring to protect the information we collect online and prevent unauthorized access.
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
					<div class="desc mt-40">
						Our team also investigates real-time feedback and concerns from our community and partners. We hold our campaign owners accountable, from verifying the identity information they provide to making sure they communicate frequently with their backers. Indiegogo does not tolerate abuse of our system and takes appropriate action when necessary to maintain the integrity of our platform.
					</div>
			</div>
		</div>
	</div>

	<div class="sec-divider"></div>

	<div class="trust-safety-content">
		<div class="row">
			<div class="col-sm-12">
				<div class="desc para">
					<b class="fs-18">FOR BACKERS</b>
					<div class="mb-20 fs-17">Do the research</div>
					<div class="mb-20">Learn more about the project and the people behind it. Review the story (look for the “Risks and Challenges” section), team profiles, updates, and comments to get a good sense of what you’re backing and to feel confident in your decision. Find out what stage a product is in—from Concept to Shipping—to help assess risk for Tech & Innovation campaigns. Read our tips for how to evaluate a campaign.</div>
					<div class="mb-20 fs-17">Ask questions</div>
					<div class="mb-20">Stay up-to-date with campaigns that you’ve backed by asking questions. You can contact the campaigner at any time through a direct message or comment on the campaign page. Comments are a great way to follow feedback and Q&As between the campaign owner and other backers throughout the campaign’s progress. Learn how to contact a campaigner.</div>
					<div class="mb-20 fs-17">Report concerns</div>
					<div class="mb-20">If something looks wrong to you, tell us! We encourage our community to report suspicious activity and voice concerns via the Contact Us page or the “Let us know” link on every campaign. Our Trust & Safety team monitors feedback and takes action if needed to protect our community.</div>
				</div>
			</div>
		</div>
	</div>

	<div class="sec-divider"></div>

	<div class="trust-safety-content bg-color">
		<div class="row">
			<div class="col-sm-12">
				<div class="desc para">
					<div class="desc para color-bk">
						<b class="fs-18">FOR ENTREPRENEURS</b>
						<div class="mb-20 fs-17">Paint the full picture</div>
						<div class="mb-20">Give backers peace of mind and confidence in backing your project by including detailed information about your team, qualifications, and track record. Be open about the risks and challenges. The more information you provide upfront, the more potential backers will understand that you’re trustworthy and committed to seeing your project through. Fill out your profile.</div>
						<div class="mb-20" fs-17>Engage backers</div>
						<div class="mb-20">Keep everyone informed of your progress or setbacks through commenting, direct communication and frequent updates. Substantive updates are required at least once per month by our Terms of Use. Engaging backers will help establish trust, while a lack of communication may result in backers losing faith, leaving bad feedback, requesting a refund, or even making a credit card chargeback. Learn best practices for customer support.</div>
						<div class="mb-20 fs-17">Prepare for launch</div>
						<div class="mb-20">Did you know that most successful campaigners spend months preparing for their campaign launch? Building a community and a strong email list for your idea are two key factors in your campaign’s success. Get tips and best practices for running a crowdfunding campaign in the Indiegogo Entrepreneur Education Center.</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="quote">
	<div class="quote-block">
		<div class="quote-text">
			You make this platform extraordinary. Together we keep it safe.
		</div>
	</div>
</div>