.trust-safety-main {
    border: 1px solid #979797;
    width: 80%;
    margin: auto;
    margin-bottom: 80px;
}

.trust-safety-vd {
    text-align: center;
    padding-top: 70px;
    padding-bottom: 80px;
    background-color: rgba(28,78,135,0.06);
}

.trust-safety-vd>img {
    height: 256px;
    width: 300px;
}

.sec-divider {
    border-bottom: 1px solid #979797;
    box-sizing: border-box;
    height: 2px;
    width: 100%;
}

.trust-safety-content {
    padding: 40px 40px;
}

.desc  {
    color: #000000;
    font-size: 16px;
    line-height: 27px;
}

.safeguard {
    font-weight: bold;
    margin-bottom: 20px;
}

.mt-40 {
    margin-top: 40px;
}

.mb-80 {
    margin-bottom: 80px;
}

.pt-70 {
    padding-top: 70px;
}

.pb-80 {
    padding-bottom: 80px;
}

.bg-color {
    background-color: #D8D8D8;
}

.para {
    color: #4A4A4A;
}

.mb-20 {
    margin-top: 20px;
}

.color-bk {
    color: #000000;
}

.quote-text {
    color: #FFFFFF;
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 33px;
    text-align: center;
}

.fs-17 {
    font-size: 17px;
    font-weight: bold;
}

.fs-18 {
    font-size: 18px;
    font-weight: bold;
}

.quote {
    text-align: center;
}

.quote-block {
    height: 470px;
    width: 100%;
    border: 1px solid #979797;
    opacity: 0.52;
    background-image: url('../../assets/img/trustandsafety_opa.png');
    margin: auto;
    padding: 150px 400px 150px 400px;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
}

@media screen and (max-width: 1215px) and (min-width: 916px) {
    .quote-block {
        padding: 100px 200px;
    }
}

@media screen and (max-width: 915px) and (min-width: 801px) {
    .quote-block {
        padding: 100px 150px;
    }
}

@media screen and (max-width: 800px) and (min-width: 716px) {
    .quote-block {
        padding: 100px 50px;
    }
}

@media screen and (max-width: 715px) {
    .quote-block {
        padding: 100px 0px;
    }
}

@media screen and (max-width: 768px) {
    .trust-safety-vd {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

@media screen and (max-width: 767px) and (min-width: 640px) {
    .quote-block {
        height: 350px;
    }
    .trust-safety-vd {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

@media screen and (max-width: 639px) and (min-width: 481px) {
    .trust-safety-vd {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

@media only screen and (max-width: 555px) {
    .trust-safety-vd {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

@media screen and (max-width: 480px) {
    .mb-80{
        margin-bottom: 30px;
    }
    .trust-safety-content{
        padding: 0px 40px;
    }
    .quote-block{
        height: 350px;
    }
}

@media only screen and (max-width: 320px) {
    .trust-safety-vd > img{
        height: 210px;
        width: 250px;
    }
    .quote-block {
        height: 240px;
    }
}