<div class="press-vd">
	<div class="quote">
		<div class="quote-block">
			<div class="quote-text">
				<div class="font-med">Press Room</div>
				<div>There is always something Happening here</div>
			</div>
		</div>
	</div>
</div>

<div class="press-content">
	<div class="row">
		<div class="col-sm-12">
			<div class="press-head">Press Releases</div>
			<div class="press-date">Oct 10, 2018</div>
			<div class="press-desc">Leading actor is United states has funded anonymously for a startup</div>
			<div class="press-more">Read more</div>
			<div class="press-line"></div>

			<div class="press-date">Oct 10, 2017</div>
			<div class="press-desc">Leading actor is United states has funded anonymously for a startup</div>
			<div class="press-more">Read more</div>
			<div class="press-line"></div>

			<div class="press-date">Oct 10, 2016</div>
			<div class="press-desc">Leading actor is United states has funded anonymously for a startup</div>
			<div class="press-more">Read more</div>
			<div class="press-line"></div>
		</div>
	</div>
</div>