.press-vd>img {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.press-content {
    margin-top: 40px;
    padding: 0px 80px;
    margin-bottom: 100px;
}

.quote-text {
    color: #FFFFFF;
    font-size: 28px;
    font-weight: bold;
    line-height: 33px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.quote-bg {
    background-image: url('../../assets/img/presspage_opa.png') center center;
    z-index: -1;
    opacity: 0.58;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.quote {
    text-align: center;
}

.quote-block {
    height: 410px;
    width: 100%;
    border: 1px solid #979797;
    background-image: url('../../assets/img/presspage_opa.png');
    margin: auto;
    padding: 100px 400px 100px 400px;
    background-repeat: no-repeat;
    background-size: cover;
}

.font-med {
    color: #FFFFFF;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 1.39px;
    line-height: 28px;
    text-align: center;
    text-transform: initial;
    margin-bottom: 30px;
}

.press-content {
    margin-top: 80px;
    padding: 0px 80px;
    margin-bottom: 80px;
}

.press-head {
    color: #9013FE;
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 1.39px;
    line-height: 33px;
}

.press-date {
    color: #000000;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 16px;
    margin-top: 55px;
}

.press-desc {
    color: #000000;
    font-size: 18px;
    letter-spacing: 1.18px;
    line-height: 21px;
    margin-top: 15px;
}

.press-more {
    color: #9013FE;
    font-size: 16px;
    letter-spacing: 0.93px;
    line-height: 19px;
    margin-top: 20px;
    cursor: pointer;
}

.press-line {
    box-sizing: border-box;
    height: 2px;
    border: 1px solid #979797;
    margin-top: 22px;
}

@media screen and (max-width: 1215px) and (min-width: 916px) {
    .quote-block {
        padding: 100px 250px 100px 250px;
    }
}

@media screen and (max-width: 915px) and (min-width: 816px) {
    .quote-block {
        padding: 100px 200px;
    }
}

@media screen and (max-width: 815px) and (min-width: 716px) {
    .quote-block {
        padding: 100px 100px;
    }
}

@media screen and (max-width: 783px) and (min-width: 640px) {
    .quote-block {
        padding: 100px 100px;
    }
}

@media screen and (max-width: 639px) and (min-width: 481px)  {
    .quote-block {
        height: 205px;
        padding: 4px 60px 20px 60px;
    }
    .press-content{
        margin-top: 40px;
        padding: 0px 50px;
        margin-bottom: 40px;
    }
    .press-desc {
        margin-top: 10px;
    }
}

@media screen and (max-width: 480px) {
    .press-desc{
        margin-top: 10px;
    }
    .quote-block {
        height: 210px;
        padding: 20px 20px 70px 20px;
    }
    .press-content {
        margin-top: 30px;
        padding: 0px 40px;
        margin-bottom: 60px;
    }
}

@media screen and (max-width: 380px) {
    .quote-block {
        padding: 20px 20px 70px 20px;
    }
}

@media only screen and (max-width: 320px) {
    .quote-block{
        height: 205px;
        padding: 20px 30px 19px 30px;
    }
    .press-content{
        margin-top: 30px;
        padding: 0px 20px;
        margin-bottom: 30px;
    }
    .press-date {
        margin-top: 12px;
    }
}