<div class="whatwedo-vd">
	<img src="./assets/img/whatwedo.png" />
</div>
  
<div class="whatwedo-content">
	<div class="row">
		<div class="col-sm-12">
			<div class="desc text-center">
				<div class="head">Fund the next big thing</div>
				<div class="mt-30">Crowdfund’s campaigns are where new and groundbreaking products take flight, sometimes long before they hit mainstream availability. With thousands of campaigns launching every week, there's great tech, design, and much more around every corner - often with limited-time perks and pricing for the earliest backers. Before it's everywhere, it's on Crowdfunding.</div>
			</div>
		</div>
	</div>
	<div class="row quote">
		<div class="quote-block">
			<div class="desc text-center">
				<div class="head mt-45">How it works?</div>
				<div class="mt-30 how-it-works">
					<span>Concept</span>
					<span class="line"></span>
					<span>Prototype</span>
					<span class="line"></span>
					<span>Fundraising</span>
					<span class="line"></span>
					<span>Production</span>
				</div>
			</div>
		</div>
	</div>
	<div class="row mt-80">
		<div class="col-sm-12">
			<div class="desc">
				Learn more about the project and the people behind it. Review the story (look for the “Risks and Challenges” section), team profiles, updates, and comments to get a good sense of what you’re backing and to feel confident in your decision. Find out what stage a product is in—from Concept to Shipping—to help assess risk for Tech & Innovation campaigns. Read our tips for how to evaluate a campaign.
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<div class="desc mt-40">
				If something looks wrong to you, tell us! We encourage our community to report suspicious activity and voice concerns via the Contact Us page or the “Let us know” link on every campaign. Our Trust & Safety team monitors feedback and takes action if needed to protect our community.
			</div>
		</div>
	</div>
</div>