.whatwedo-vd>img {
    height: 410px;
    position: relative;
    overflow: hidden;
    width: 100%;
}

.whatwedo-content {
    margin-top: 80px;
    padding: 0px 80px;
    margin-bottom: 80px;
}

.desc {
    color: #000000;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 27px;
}

.text-center {
    text-align: center;
}

.head {
    font-weight: bold;
    font-size: 24px;
    line-height: 27px;
}

.mt-30 {
    margin-top: 30px;
}

.quote {
    margin-top: 80px;
    text-align: center;
}

.quote-block {
    height: 200px;
    width: 70%;
    border: 1px solid #979797;
    background-color: rgba(74,144,226,0.88);
    margin: auto;
}

.quote-block .desc .head {
    color: #FFFFFF;
}

.mt-25 {
    margin-top: 25px;
}

.mt-45 {
    margin-top: 45px;
}

.mt-80 {
    margin-top: 80px;
}

.mt-40 {
    margin-top: 40px;
}

.how-it-works {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 19px;
    text-align: center;
}

.line {
    box-sizing: border-box;
    height: 0px;
    width: 80px;
    border: 2px solid #FFFFFF;
    margin: 0px 20px;
    display: inline-block;
    margin-bottom: 5px;
}

@media screen and (max-width: 1200px) and (min-width: 992px) {
    .whatwedo-vd > img {
        height: 351px;
    }
}

@media screen and (max-width: 991px) and (min-width: 767px) {
    .whatwedo-vd > img {
        height: 351px;
    }
}

@media screen and (max-width: 768px) {
    .line {
        width: 40px;
        margin: 0px 15px;
    }
}

@media screen and (max-width: 639px) and (min-width: 481px) {
    .whatwedo-vd > img {
        height: 260px;
    }
    .line{
        width: 40px;
        margin: 5px 7px 0px 4px;
    }
    .whatwedo-content {
        margin-top: 40px;
        padding: 0px 60px;
        margin-bottom: 40px;
    }
}

@media only screen and (max-width: 555px) {
    .line {
        width: 32px;
        margin: 5px 7px 0px 4px;
    }
}

@media screen and (max-width: 480px) {
    .mt-80 {
        margin-top: 30px;
    }
    .line {
        width: 13px;
        margin: 5px 7px 0px 4px;
    }
    .whatwedo-vd > img {
        height: 190px;
    }
    .whatwedo-content {
        margin-top: 20px;
        padding: 0px 20px;
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 380px) {
    .mt-80 {
        margin-top: 30px;
    }
    .line {
        width: 13px;
        margin: 5px 7px 0px 4px;
    }
    .mt-25 {
        margin-top: 13px;
    }
    .quote-block{
        height: 130px;
        width: 100%;
    }
    .whatwedo-vd > img {
        height: 190px;
    }
    .whatwedo-content {
        margin-top: 20px;
        padding: 0px 20px;
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 1200px) {
    .quote-block {
        width: 100%;
    }
}