<div class="container-fluid">
	<div class="row">
  		<div class="col-sm-6 login-cred">
     		<div id="loginFormDiv" class="col-lg-12">
        		<div class="col-lg-8 login-div">
            		<a routerLink="/home"><img src="./assets/img/logo.png" style="margin-bottom: 5%;margin-top: 0%; width: 140px;"></a>
                	<div class="body-text">
                    	<div class="sign-in-title">Sign in to Crowd Funding</div>
                    	<div class="sub-text">Please enter your credentials to proceed.</div>
                	</div>
        			<form [formGroup]="loginForm" class="logForm" (ngSubmit)="onLogin()">
            			<div class="form-group">
                			<label for="username" class="secondary-text">EMAIL ADDRESS</label>
                			<input type="text" formControlName="username" class="form-control textCss" [(ngModel)]="userEmail" [ngClass]="{ 'is-invalid': submitted && loginControl.username.errors }" />
                			<div *ngIf="submitted && loginControl.username.errors" class="invalid-feedback">
                    			<div *ngIf="loginControl.username.errors.required">Username is required</div>
                			</div>
            			</div>
            			<div class="form-group">
                			<label for="password" class="secondary-text">PASSWORD</label> 
                			<p class="secondary-text forgotCreds" (click)="forgotCredential()">Forgot password?</p>
                			<input type="password" formControlName="password" class="form-control textCss" [(ngModel)]="userPassword" [ngClass]="{ 'is-invalid': submitted && loginControl.password.errors }" />
                			<div *ngIf="submitted && loginControl.password.errors" class="invalid-feedback">
                    			<div *ngIf="loginControl.password.errors.required">Password is required</div>
                			</div>
            			</div>
            			<div class="form-group">
							<div *ngIf="invalidCreds" class="errMsg">Username/Password is Invalid. Please try again.</div>
                			<button [disabled]="loading" class="btn loginSubmit">Sign in</button>
                			<p class="secondary-text middle-text" >OR</p>                
                			<button [disabled]="loading" class="btn loginSubmit" style="background-color:#3b5998;"><i class="fa fa-facebook" style="color:#fff;"></i>&nbsp;&nbsp;Continue with Facebook</button>
                			<button [disabled]="loading" class="btn loginSubmit" style="background-color: #dd4b39"> <i class="fa fa-google" style="color:#fff;"></i>&nbsp;&nbsp; Continue with Google</button>
						</div>
						<div class="login-footer-text">
							<div class="secondary-text middle-text">Don't have an account?
							<a routerLink="/signup" class="registerBtn">Sign up</a></div>
						</div>
        			</form>
        		</div>
    		</div>
  		</div>
  		<div class="col-sm-6 no-pad no-margin">
      		<div class="col-sm-12 register-image"></div>
  		</div>
	</div>
</div>

