@heading-color: rgb(99, 200, 200);
@heading-wight: 600;
@heading-size: 18px;
@btn-width:100%;
@my-selector: secondary-text;
@text-box:textCss;


#colors() {
    primary: #2E5BFF;
    secondary: #FFFFFF;
    hover:cadetblue;
    hoverColor:#ffffff;
    fontClr:#111;
    subTextClr: #8798AD;
    text-box-clr: rgba(224,231,255,0.2);
  }

  .@{my-selector} {
    font-weight: 400;
    line-height: 10px;
    margin: 0 auto;
    font-size:12px;
    color:#colors[subTextClr];
    letter-spacing: 1px;
  }
  
  .@{text-box} {
    font-weight: normal;
    line-height: 10px;
    margin: 0 auto;
    font-size:12px;
    background-color:#colors[text-box-clr];
    letter-spacing: 0px;
    border: 1px solid #E0E7FF;
    height: 35px;
    color: #2E384D;
    font-size: 14px;
    line-height: 18px;
    border-radius : 5px;
  }

.btn{
    background-color:#colors[primary];
    color: #colors[secondary];
    width:@btn-width;
    margin-top: 3%;
    margin-bottom: 5%;
    height: 40px;
    border-radius : 5px;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
}
.errMsg{
    color: rgb(253, 69, 69);
    font-size: 14px;
}

.login-div{
    font-size: @heading-size;
    margin-left: 17%;
    margin-top: 2%;
    background: #fff;
    border-radius: 20px;
    overflow: hidden;
}
.register-div{
    font-size: @heading-size;
    margin-left: 17%;
    margin-top: 2%;
    background: #fff;
    border-radius: 20px;
    overflow: hidden;
    
}
.logForm {
    position: relative;
    margin-top: 5%;
    margin-bottom: 0%;
}
.regForm{
    position: relative;
    margin-top: 1%;
}
.registerBtn, .loginBtn{
    cursor: pointer;
    font-size: 14px;
    color:#colors[primary] !important;
}
.registerSubmit:hover, .loginSubmit:hover{
    background-color:#colors[hover];
}
a.loginBtn:hover,a.registerBtn:hover{
    color:#colors[hover];
}
.loginHeader{
    font-size: 30px;
    color: #colors[secondary];
    line-height: 1.2;
    text-align: center;
    display: block;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    background-color:#colors[primary];
    padding-top: 50px;
    padding-bottom: 39px;
}
.forgotCreds{
    float: right;
    margin-top: 8px;
    cursor: pointer;
}

.register-image{
    background: url("../../assets/img/login_background.png");
    background-repeat:no-repeat;
    height:100%;
    width:100%;
    zoom: 45%;
    margin-top: 0%;
    padding: 0px;
    margin: 0px;
}
.body-text{
    color:#colors[fontClr];
    letter-spacing: 3px;
    font-size: 24px;
    font-weight: 600;
}
.body-text p{
    margin-bottom: 0rem;
}
.body-text .sub-text{
    letter-spacing: 0px;
    color: #colors[subTextClr];
    font-size: 15px;
    line-height: 22px;
    font-weight: normal;
    margin-top: 5%;
}

.accept-text{
    margin-bottom: 8%;
    color: darkblue;
    margin-top: 2%;
    letter-spacing: 0.5px;
}
.middle-text{
    text-align: center;
    color: #B0BAC9;
    font-size: 15px;
    line-height: 15px;
    letter-spacing: normal;
}

.sign-in-title {
    color: #2E384D;
    font-size: 34px;
    line-height: 36px;
    letter-spacing: 0px;
}

.login-footer-text { 
    margin-bottom: 9%;
    margin-top: -4%;
}

@media screen and (max-width: 768px) {
    .login-div {
        font-size: 18px;
        margin-left: 0%;
        margin-top: 5%;
        background: #fff;
        border-radius: 20px;
        overflow: hidden;
    }
    .register-image {
        zoom: 33%;
        margin-top: 0%;
        padding: 0px;
        margin: 0px;
    }
}
@media screen and (max-width: 767px) and (min-width: 640px) {
    .sign-in-title {
        color: #2E384D;
        font-size: 28px;
        line-height: 36px;
        letter-spacing: 0px;
    }
    .register-image {
        zoom: 31%;
        margin-top: 0%;
        padding: 0px;
        margin: 0px;
    }
    .body-text .sub-text {
        letter-spacing: 0px;
        color: #8798AD;
        font-size: 14px;
        line-height: 22px;
        font-weight: normal;
        margin-top: 5%;
    }
    .middle-text {
        text-align: center;
        color: #B0BAC9;
        font-size: 14px;
        line-height: 15px;
        letter-spacing: normal;
    }
}
@media screen and (max-width: 639px) and (min-width: 481px) {
    .sign-in-title {
        color: #2E384D;
        font-size: 28px;
        line-height: 36px;
        letter-spacing: 0px;
    }
    .register-image {
        zoom: 31%;
        margin-top: 0%;
        padding: 0px;
        margin: 0px;
    }
    .body-text .sub-text {
        letter-spacing: 0px;
        color: #8798AD;
        font-size: 14px;
        line-height: 22px;
        font-weight: normal;
        margin-top: 5%;
    }
    .middle-text {
        text-align: center;
        color: #B0BAC9;
        font-size: 14px;
        line-height: 15px;
        letter-spacing: normal;
    }
}

@media screen and (max-width: 480px) {
    .sign-in-title {
        color: #2E384D;
        font-size: 27px;
        line-height: 36px;
        letter-spacing: 0px;
    }
}
@media screen and (max-width: 406px) {
    .sign-in-title {
        color: #2E384D;
        font-size: 27px;
        line-height: 36px;
        letter-spacing: 0px;
    }
}
@media screen and (max-width: 380px) {
    .sign-in-title {
        color: #2E384D;
        font-size: 27px;
        line-height: 36px;
        letter-spacing: 0px;
    }
}
@media only screen and (max-width: 320px) {
    .sign-in-title {
        color: #2E384D;
        font-size: 27px;
        line-height: 36px;
        letter-spacing: 0px;
    }
}