<div class="about-vd">
	<img src="./assets/img/about.png" />
</div>

<div class="aboutus-content">
	<div class="row">
		<div class="col-sm-5">
			<img class="img-div" src="./assets/img/footer-logo.png" />
		</div>
		<div class="col-sm-7">
			<div class="desc">
				Versatile is an album of experimental love songs to the lands and communities which restore us through turmoils again and again. Recorded in remote forested hideouts, off-kilter compositions of harp, layered strings, pump organ, found sounds, and crystal glass explore the versatility of queer love and survival. 
			</div>
			<div class="desc mt-40">
				Written during songwriter Elliott Miskovicz’s passage to living in the woods due to neurological conditions after a lifetime in the Philadelphia area, these 11 songs follow the journey of the sacrifices we make.
			</div>
		</div>
	</div>

	<div class="row quote">
		<div class="quote-block">
			<div class="quote-text">
				“ Crowdfunding is one of those platforms that gives you space to work with people who know you, love you, and support you. ”
			</div>
		</div>
	</div>
</div>