.about-vd>img {
    height: 375px;
    position: relative;
    overflow: hidden;
    width: 100%;
}

.aboutus-content {
    margin-top: 40px;
    padding: 0px 80px;
    margin-bottom: 100px;
}

.desc {
    color: #000000;
    font-size: 16px;
    font-weight: 300;
    line-height: 19px;
}

.mt-40 {
    margin-top: 40px;
}

.quote {
    margin-top: 100px;
    text-align: center;
}

.quote-block {
    height: auto;
    width: 90%;
    border: 1px solid #979797;
    background-color: #D63649;
    margin: auto;
}

.quote-text {
    color: #FFFFFF;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 28px;
    padding: 75px 80px 75px 80px;
}

@media screen and (max-width: 1200px) and (min-width: 992px) {
    .img-div{
        margin-left: -25%;
    }
}

@media screen and (max-width: 991px) and (min-width: 767px) {
    .img-div{
        margin-left: -34%;
    }
}

@media screen and (max-width: 768px) {
    .img-div {
        margin-left: -38%;
        height: 34%;
    }
    .quote-text{
        padding: 60px 80px 73px 80px;
    }
    .about-vd > img {
        height: 250px;
    }
}
@media screen and (max-width: 767px) and (min-width: 640px) {
    .img-div {
        margin-left: -38%;
        height: 34%;
    }
    .quote-text {
        padding: 60px 80px 73px 80px;
    }
    .about-vd > img {
        height: 250px;
    }
}
@media screen and (max-width: 639px) and (min-width: 481px) {
    .img-div {
        margin-left: -38%;
        height: 24%;
    }
    .quote-text {
        padding: 39px 80px 73px 80px;
    }
    .about-vd > img {
        height: 250px;
    }
}
@media only screen and (max-width: 555px) {
    .img-div {
        margin-left: 0%;
        height: 70%;
    }
    .quote-text {
        padding: 39px 80px 73px 80px;
    }
    .about-vd > img {
        height: 220px;
    }
}
@media screen and (max-width: 480px) {
    .img-div {
        margin-left: 0%;
        height: 50%;
    }
    .quote-text {
        padding: 39px 10px 50px 10px;
    }
    .about-vd > img {
        height: 220px;
    }
}
@media screen and (max-width: 406px) {
    .img-div {
        margin-left: 0%;
        height: 39%;
    }
    .quote-text {
        padding: 39px 10px 50px 10px;
    }
    .about-vd > img {
        height: 200px;
    }
}
@media screen and (max-width: 380px) {
    .img-div {
        margin-left: 0%;
        height: 39%;
    }
    .quote-text {
        padding: 39px 10px 50px 10px;
    }
    .about-vd > img {
        height: 160px;
    }
}
@media only screen and (max-width: 320px) {
    .img-div {
        margin-left: 0%;
        height: 29%;
    }
    .quote-text {
        padding: 20px 2px 21px 2px;
    }
    .about-vd > img {
        height: 130px;
    }
}
@media only screen and (max-width: 575px) {
    .img-div {
        display: none;
    }
}