<div class="fund-detail-content">
	<div class="row">
		<div class="col-sm-12">
			<div class="proj-title text-center">
				Title of the project
			</div>
		</div>
	</div>
	<div class="row">
	    <div class="col-sm-12">
      		<div class="proj-desc text-center">
            SICK is a Speed Rock band from Liverpool. Speed Rock is a genre similar to Speed Metal, although with a crisp and lighter sound.
      		</div>
    	</div>
	</div>
	<div class="row quote">
		<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
			<div class="quote-block">
				<div class="quote-text">
					<div class="play"></div>
				</div>
			</div>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 proj-details">
			<div class="created">
				Created 17 days to go
			</div>
			<div class="price">
				$1250
			</div>
			<div class="progrs-bar">
				<progressbar [value]="55" animate=true></progressbar>
			</div>
			<div class="goal-price">
				$5000 goal
			</div>
			<div class="backedby-count">
				18
			</div>
			<div class="backedby">
				backed by
			</div>
			<div class="social-icons">
				<i class="fa fa-facebook"></i>
				<i class="fa fa-youtube-play"></i>
				<i class="fa fa-twitter"></i>
				<i class="fa fa-instagram"></i>
				<i class="fa fa-medium"></i>
				<i class="fa fa-reddit-alien"></i>
			</div>
			<div>
				<button class="donate">Donate Now</button>
			</div>
		</div>
	</div>
</div>

<div class="sec-divider mt-80 mb-40"></div>

<div class="fund-detail-content mb-60">
	<div class="row">
		<div class="col-sm-12">
			<tabset>
				<tab customClass="tabs-custom" heading="About" id="tab1">
					<div class="row">
						<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
							<div class="about-text">
								Versatile is an album of experimental love songs to the lands and communities which restore us through turmoils again and again. Recorded in remote forested hideouts, off-kilter compositions of harp, layered strings, pump organ, found sounds, and crystal glass explore the versatility of queer love and survival. 									
							</div>
							<div class="about-text mt-40">
								Written during songwriter Elliott Miskovicz’s passage to living in the woods due to neurological conditions after a lifetime in the Philadelphia area, these 11 songs follow the journey of the sacrifices we make in the name of solace. Although rural life was not always easy as a trans fag, his songwriting there evolved from a tool for coping with chaos into an expression of reverence for the enduring ecosystems surrounding him. 
							</div>
							<div class="about-text mt-40">
								Mixed by Candlewolfe sound and currently being mastered by Kris Force, Versatile's physical release will include 11 handmade drawings of plants corresponding to each song by herbalist Miranda Resnick, and an evocative cover poster by queer metal artist Stephen Wilson. 
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
							<div class="about-details">
								<div class="about-details-title">
									Make a pledge without a reward
								</div>
								<div class="about-details-textbox">
									<input cfNumericOnly="true" class="form-control form-text-input" type="text">
								</div>
								<div class="about-details-btn">
									<button class="continue">Continue</button>
								</div>
							</div>
							<div class="about-details mt-80">
								<img src="./assets/img/profile_image.png" />
								<div class="about-details-author">
									{{this.userName}}
								</div>
								<div class="about-details-projdetails">
									<div class="mr-50">{{userRaisedProject}} projects</div>
									<div>{{userBackedProjects}} backed</div>
								</div>
								<div class="about-details-seemore">
									<span class="seeMore" routerLink="/profile">see more</span>
								</div>
							</div>
						</div>
					</div>
				</tab>
				<tab customClass="tabs-custom" heading="FAQ">
					<div class="row">
						<div class="col-sm-12">
							<div class="tab-title text-center">
								Frequently Asked Questions
							</div>
						</div>
					</div>
					<div class="row mt-40 mb-60">
						<div class="col-sm-1"></div>
						<div class="col-sm-10">
							<div class="funndetail-faq" id="isFAQCollapsed-id" style="background: #D8D8D8;">
								<span class="faq-header">Question number 01 goes here ?</span>
								<i class="fa fa-angle-down" (click)="isFAQCollapsed = !isFAQCollapsed;bgChange('isFAQCollapsed',isFAQCollapsed)" [attr.aria-expanded]="isFAQCollapsed" aria-controls="bankerFaq"></i>
								<div id="fundDetailFAQ" [collapse]="isFAQCollapsed" [isAnimated]="true" style="padding: 20px 0px 0px 0px;">
									<div class="">Mixed by Candlewolfe sound and currently being mastered by Kris Force, Versatile's physical release will include 11 handmade drawings of plants.</div>
								</div>
							</div>
							<div class="funndetail-faq" id="isFAQCollapsed1-id">
								<span class="faq-header">Question number 02 goes here ?</span>
								<i class="fa fa-angle-down" (click)="isFAQCollapsed1 = !isFAQCollapsed1;bgChange('isFAQCollapsed1',isFAQCollapsed1)" [attr.aria-expanded]="!isFAQCollapsed1" aria-controls="bankerFaq1"></i>
								<div id="fundDetailFAQ1" [collapse]="isFAQCollapsed1" [isAnimated]="true" style="padding: 20px 0px 0px 0px;">
									<div class="">Mixed by Candlewolfe sound and currently being mastered by Kris Force, Versatile's physical release will include 11 handmade drawings of plants.</div>
								</div>
							</div>
							<div class="funndetail-faq" id="isFAQCollapsed2-id">
								<span class="faq-header">Question number 03 goes here ?</span>
								<i class="fa fa-angle-down" (click)="isFAQCollapsed2 = !isFAQCollapsed2;bgChange('isFAQCollapsed2',isFAQCollapsed2)" [attr.aria-expanded]="!isFAQCollapsed2" aria-controls="bankerFaq2"></i>
								<div id="fundDetailFAQ2" [collapse]="isFAQCollapsed2" [isAnimated]="true" style="padding: 20px 0px 0px 0px;">
									<div class="">Mixed by Candlewolfe sound and currently being mastered by Kris Force, Versatile's physical release will include 11 handmade drawings of plants.</div>
								</div>
							</div>
						</div>
						<div class="col-sm-1"></div>
					</div>
				</tab>
				<tab customClass="tabs-custom" heading="Comments">
					<div class="row mt-40 mb-60">
						<div class="col-sm-1"></div>
						<div class="col-sm-10">
							<div class="funndetail-faq">
								<img class="comment-img" src="./assets/img/sample_profile3.png" />
								<div class="comment-sec">
									<div class="comment-name">John Nick</div>
									<div class="comment-days">7 days ago</div>
								</div>
								<div class="comment-desc">
									It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem.
								</div>
							</div>
							<div class="funndetail-faq">
								<img class="comment-img" src="./assets/img/sample_profile3.png" />
								<div class="comment-sec">
									<div class="comment-name">Margarette</div>
									<div class="comment-days">7 days ago</div>
								</div>
								<div class="comment-desc">
									It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem.
								</div>
							</div>
						</div>
						<div class="col-sm-1"></div>
					</div>
				</tab>
			</tabset>
		</div>
	</div>
</div>
