.fund-detail-content {
    padding: 0px 80px;
}

.proj-title {
    color: #000000;
    font-size: 31px;
    font-weight: 500;
    line-height: 32px;
    margin-top: 60px;
}

.proj-desc {
    color: #2E384D;
    font-size: 28px;
    line-height: 33px;
    margin-top: 45px;
}

.text-center {
    text-align: center;
}
.seeMore:hover{
    text-decoration: underline;
    cursor: pointer;
}

.quote {
    margin-top: 60px;
}

.quote-block {
    height: 440px;
    width: 100%;
    background-image: url('../../assets/img/project_sample7.png');
    background-repeat: no-repeat;
}

.quote-text {
    border: 2px solid #FFFFFF;
    background-color: #9013FE;
    width: 102px;
    border-radius: 50%;
    position: absolute;
    top: 169px;
    left: 42%;
    height: 102px;
    cursor: pointer;
}

.proj-details {
    border: 1px solid #979797;
    background-color: #FFFFFF;
}

.proj-details .created {    
    color: #4A4A4A;
    font-size: 16px;
    line-height: 19px;
    margin-top: 20px;
    margin-left: 10px;
}

.proj-details .price
{
    color: #000000;
    font-size: 28px;
    font-weight: 500;
    line-height: 33px;
    margin-top: 32px;
    margin-left: 10px;
}

.progrs-bar {
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
}

.progress {
    height: 10px;
    border-radius: 5px;
    border: 1px solid #979797;
    border-radius: 7px;
    background-color: #FFFFFF;
}

:host ::ng-deep .progress-bar {
    background-color: #9013FE !important;
}

.goal-price {
    color: #000000;
    font-size: 18px;
    line-height: 21px;
    margin-top: 20px;
    margin-left: 10px;
}

.backedby {
    color: #4A4A4A;
    font-size: 16px;
    line-height: 19px;
    margin-top: 5px;
    margin-left: 10px;
}
.backedby-count {
    margin-top: 20px;
    margin-left: 10px;
    font-size: 28px;
    font-weight: 500;
    color: #000000;
    line-height: 33px;
}

.social-icons {
    margin-top: 40px;
    margin-right: 10px;
    text-align: right
}

.fa-facebook{
    font-size:15px;
    color: rgba(74, 74, 74, 0.79);
    cursor: pointer;
}

.fa-youtube-play, .fa-twitter, .fa-instagram, .fa-medium, .fa-reddit-alien{
    font-size:15px;
    margin-left:3%;
    color: rgba(74, 74, 74, 0.79);
    cursor: pointer;
}

.donate {
    height: 56px;
    border: 1px solid #979797;
    border-radius: 6px;
    background-color: #9013FE;
    margin: auto;
    margin-top: 20px;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    text-align: center;
    width: 100%;
}

.play {
    width: 50px;
    height: 50px;
    border: none;
    margin: auto;
    top: 35px;
    left: 40px;
    position: absolute;
    cursor: pointer;
}
.play:focus {
    outline: 0;
    border: 1px solid hsl(210, 58%, 69%);
    box-shadow: 0 0 0 3px hsla(210, 76%, 57%, 0.5);
}

.play::after {
    content: '';
    display: inline-block;
    border-style: solid;
    border-width: 15px 0 15px 25px;
    border-color: transparent transparent transparent white;
}

.sec-divider {
    border-bottom: 1px solid #979797;
    box-sizing: border-box;
    height: 2px;
    width: 100%;
}

.mt-80 {
    margin-top: 80px;
} 

.mb-40 {
    margin-bottom: 40px;
}

.mt-40 {
    margin-top: 40px;
}

.mb-60 {
    margin-bottom: 60px;
}

.tabs {
    color: #4A4A4A;
    font-size: 29px;
    line-height: 34px;
}

.tabs.active {
    height: 2px;
    border: 4px solid #000000;
    margin-top: 15px;
}

:host ::ng-deep .nav-tabs {
    border: 0px;
}

:host ::ng-deep .nav-tabs .nav-item.show .nav-link, :host ::ng-deep .nav-tabs .nav-link.active {
    border : none;
    color: #000000;
    border-bottom: 4px solid #000000;
}

:host ::ng-deep .nav-link:focus, :host ::ng-deep .nav-link:hover {
    border: 1px solid #FFFFFF;
    padding: 0px 10px 10px;
    margin: 0px 25px;
    font-size: 18px;
    line-height: 21px;
}

:host ::ng-deep a {
    color: #4A4A4A;
}

:host ::ng-deep .nav-tabs .nav-item {
    margin-bottom: 0px;
}

:host ::ng-deep .nav-link {
    padding: 0px 10px 10px;
    margin: 0px 25px;
    font-size: 18px;
    line-height: 21px;
}

:host ::ng-deep .nav-item.tabs-custom:first-child .nav-link {
    margin-left: 0px;
}

:host ::ng-deep .tab-content {
    margin-top: 60px;
}

.tab-title {
    font-size: 28px;
    line-height: 33px;
    color: #000000;
}

.funndetail-faq {
    /* background: #979797; On Active */
    background: #fff;
    margin-bottom: 2%;
    height: auto;
    border: 1px solid #979797;
    border-radius: 15px;
    padding: 25px 60px 30px 60px;
    color: #4A4A4A;
    font-size: 16px;
    line-height: 19px;
}
.fa-angle-down{
    font-size: 50px;
    position: absolute;
    cursor: pointer;
    margin-top: -1.4%;
    right: 60px;
}
.faq-header{
    font-weight: 600;
    color: #1C69C4;
    font-size: 18px;
    line-height: 21px;
}

.comment-img {
    width: 80px;
    height: 80px;
    float: left;
}

.comment-name {
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    margin-bottom: 5px;
}

.comment-days {
    color: #4A4A4A;
    font-size: 16px;
    line-height: 19px;
}

.comment-sec {
    margin-left: 100px;
    margin-top: 20px;
}

.comment-desc {
    padding: 40px 0px 0px 0px;
    color: #4A4A4A;
    font-size: 16px;
    line-height: 19px;
}

.about-text {
    color: #000000;
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
    width: 95%;
}

.about-details {
    border: 1px solid #979797;
    border-radius: 13px;
    height: auto;
    padding: 15px;
}

.about-details-title {
    text-align: center;
    margin: auto;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 500;
}

.about-details-textbox {
    width: 90%;
    text-align: center;
    margin: auto;
    margin-top: 25px;
}

.about-details-textbox:before
{
    content: "$";
    position: absolute;
    font-size: 1rem;
    display: block;
    padding: 12px 15px;
    border-right: 1px solid #979797;
    color: #4A4A4A;
}

.about-details-btn {
    margin: auto;
    margin-top: 25px;
    width: 90%;
}

.form-text-input {
    border: 1px solid #979797;
    border-radius: 0px;
    height: 49px;
    padding-left: 45px;
    color: #4A4A4A;
}

.continue {
    height: 56px;
    border: 1px solid #979797;
    border-radius: 6px;
    background-color: #9013FE;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    text-align: center;
    width: 100%;
}

.about-details-author {
    color: #4A4A4A;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 0.82px;
    margin-top: -35px;
    margin-left: 50px;
}

.about-details-projectow {
    color: #4A4A4A;
    font-size: 21px;
    letter-spacing: 0.62px;
    line-height: 24px;
    text-align: center;
}

.about-details-projdetails {
    color: #4A4A4A;
    font-size: 16px;
    letter-spacing: 0.62px;
    line-height: 24px;
    margin-top: 5px;
    margin-left: 50px;
}

.ml-m2 {
    margin-left: -2px;
}

.mr-50 {
    margin-right: 50px;
}

.about-details-seemore {
    color: #4A90E2 !important;
    font-size: 16px;
    letter-spacing: 0.62px;
    line-height: 24px;
    margin-top: 30px;
    margin-left: 50px;
}

.pl-80 {
    padding-left: 80px;
}

.pr-80 {
    padding-right: 80px;
}

.about-details>img {
    height: 101px;
    width: 102px;
    margin-top: -55px;
    margin-left: -70px;
}

.ht-190 {
    height: 190px;
}

.about-details-projdetails > div {
    display: inline-block;
}

// @media screen and (max-width: 958px) {
//     .about-details-projdetails > div.mr-50 {
//         margin-right: 0px;
//     }
// }

// @media screen and (max-width: 1127px) {
//     .about-details-projdetails > div.mr-50 {
//         margin-right: 0px;
//     }
// }

@media screen and (max-width: 991px) and (min-width: 600px) {
    .about-details-author, .about-details-projdetails, .about-details-seemore {
        margin-left: 30px;
    }
}

@media screen and (max-width: 1023px) {
    .fund-detail-content {
        padding : 0px 60px;
    }
}

@media screen and (max-width: 767px) {
    .quote>div:first-child {
        padding : 0px;
    }
    .donate {
        margin-bottom: 20px;
    }
    :host ::ng-deep .nav-link:focus, :host ::ng-deep .nav-link:hover {
        border: 1px solid #FFFFFF;
        padding: 0px 10px 5px;
        margin: 0px 0px;
        font-size: 18px;
        line-height: 21px;
    }
    :host ::ng-deep .nav-link {
        padding: 0px 10px 5px;
        margin: 0px 0px;
        font-size: 18px;
        line-height: 21px;
    }
}