.settings-content {
    padding: 0px 80px;
}

#resp-save-btn{
    display: none;
}

#card-resp-btn{
    display: none;
}
.errorMsg{
    color:red;
    font-size: 16px;
    margin-top: 2%;
}
.successMsg{
    font-size: 18px;
    margin-top: 2%;
    color:rgb(86, 115, 211);
}
.addCardBtn{
    cursor: pointer;
}

.user-name {
    color: #4A4A4A;
    font-size: 28px;
    font-weight: 500;
    line-height: 33px;
    text-align: center;
    margin-top: 50px;
}

.settings-details-block {
    width: 100%;
    background-color: #FFFFFF;
    box-shadow: 0 0 8px 0 rgba(0,0,0,0.26);
    height: 100%;
    margin-top: 50px;
    margin-bottom: 60px;
    padding: 0px 30px;
    border: 0.5px solid #979797;
}

.tabs {
    color: #4A4A4A;
    font-size: 29px;
    line-height: 34px;
}

.tabs.active {
    height: 2px;
    border: 4px solid #000000;
    margin-top: 15px;
}

:host ::ng-deep .nav-tabs {
    border: 0px;
    margin-top: 30px;
}

:host ::ng-deep .nav-tabs .nav-item.show .nav-link, :host ::ng-deep .nav-tabs .nav-link.active {
    border : none;
    color: #9013FE;
    border-bottom: 3px solid #9013FE;
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
}

:host ::ng-deep .nav-link:focus, :host ::ng-deep .nav-link:hover {
    border: 1px solid #FFFFFF;
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
}

:host ::ng-deep a {
    color: #4A4A4A;
}

:host ::ng-deep .nav-tabs .nav-item {
    margin-bottom: 0px;
}

:host ::ng-deep .nav-link {
    padding: 0px 5px 5px;
    margin: 0px 15px;
    line-height: 34px;
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
}

:host ::ng-deep .nav-item.tabs-custom:first-child .nav-link {
    margin-left: 0px;
}

:host ::ng-deep .tab-content {
    margin-top: 60px;
    margin-bottom: 60px;
}

.tab-title {
    font-size: 35px;
    line-height: 41px;
    color: #000000;
}

label {
    color: #000000;
    font-size: 17px;
    line-height: 20px;
    margin-bottom: 10px;
}

.textbox {
    height: 48px;
    border: 1px solid #979797;
    color: #4A4A4A;
    font-size: 18px;
    border-radius: 0px;
}

.biography .textbox {
    height: 120px;
}

.biography .desc {
    opacity: 0.85;
    color: #000000;
    font-size: 12px;
    line-height: 14px;
}

.mt-60 {
    margin-top: 60px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-40 {
    margin-top: 40px;
}

.mt-50 {
    margin-top: 50px;
}

.mt-170 {
    margin-top: 170px;
}

.update .btn {
    border: 1px solid #979797;
    border-radius: 6px;
    background-color: #9013FE;
    height: 48px;
    color: #FFFFFF;
    font-size: 18px;
    line-height: 21px;
    width: auto;
    float: right;
}

.picture-file::-webkit-file-upload-button {
    visibility: hidden;
}

.picture-file::before {
    display: inline-block;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    font-weight: 700;
    font-size: 10pt;
}

.privacy {
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    margin-top: 210px;
}

.payment .desc {
    color: #4A4A4A;
    font-size: 16px;
    line-height: 19px;
}

.payment .saved-cards {
    color: #000000;
    font-size: 17px;
    line-height: 20px;
}

.payment .box {
    height: 103px;
    border: 1px solid #979797;
    border-radius: 8px;
}

.payment .box.new {
    height: 60px;
}

.add-new {
    color: #4A4A4A;
    font-size: 16px;
    line-height: 19px;
    margin-top: 20px;
    margin-left: 35px;
}

.add-new .plus {
    font-size: 20px;
    margin-right: 15px;
    cursor: pointer;
}

.sec-divider {
    border-bottom: 1px solid #979797;
    box-sizing: border-box;
    height: 2px;
    width: 100%;
}

.collapse.in.show {
    display: flex !important;
}

.box {
    display: flex;
}

.card-block, .card-number, .btn {
    flex: 1;
}
.card-block img {
    height: 50px;
    width: 86px;
    margin-top: 25px;
    margin-left: 15px;
}

.card-number .textbox {
    margin-left: 70px;
    margin-top: 25px;
    width: 80%;
}

.payment .box .btn button {
    border: 1px solid #979797;
    border-radius: 0px;
    background-color: #9013FE;
    height: 48px;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 34px;
    width: 50%;
    margin-top: 20px;
    margin-left: 60px;
}

.login-his {
    font-size: 17px;
    line-height: 20px;
    color: #000000;
}

.login-his-desc {
    color: #000000;
    font-size: 16px;
    line-height: 19px;
}

@media screen and (max-width: 1200px) and (min-width: 992px) {
    .payment .box .btn button {
        height: 43px;
        margin-left: 0px;
        width: 100%;
    }
}


@media screen and (max-width: 778px) {
    .quote>div:first-child {
        padding : 0px;
    }
    .donate {
        margin-bottom: 20px;
    }
    :host ::ng-deep .nav-tabs .nav-item.show .nav-link, :host ::ng-deep .nav-tabs .nav-link.active {
        font-size: 16px;
        line-height: 21px;
    }
    :host ::ng-deep .nav-link:focus, :host ::ng-deep .nav-link:hover {
        font-size: 16px;
        line-height: 21px;
    }
    :host ::ng-deep .nav-link {
        padding: 0px 5px 5px;
        margin: 0px 15px;
        font-size: 16px;
        line-height: 21px;
    }
}

@media screen and (max-width: 768px) {
    .payment .box .btn button {
        width: 100%;
        margin-top: 20px;
        margin-left: 0px;
    }
}

@media screen and (max-width: 767px) and (min-width: 640px) {
    #normal-save-btn {
        display: none;
    }
    #resp-save-btn{
        display: block;
    }
    .privacy {
        margin-top: 30px;
    }
    .payment .box .btn button {
        width: 70%;
        margin-top: 20px;
        margin-left: 30px;
    }
}

@media screen and (max-width: 639px) and (min-width: 481px) {
    #normal-save-btn{
        display: none;
    }
    #resp-save-btn{
        display: block;
    }
    .settings-details-block {
        margin-top: 40px;
        margin-bottom: 40px;
        padding: 0px 14px;
    }
    :host ::ng-deep .nav-tabs .nav-item.show .nav-link, :host ::ng-deep .nav-tabs .nav-link.active {
        font-size: 14px;
        line-height: 21px;
    }    
    :host ::ng-deep .nav-link:focus, :host ::ng-deep .nav-link:hover {
        font-size: 14px;
        line-height: 21px;
    }
    :host ::ng-deep .nav-link {
        padding: 0px 5px 3px;
        margin: 0px 8px;
        font-size: 14px;
        line-height: 21px;
    }
    .textbox {
        height: 44px;
    }
    .update .btn {
        height: 43px;
        width: 60%;
    }
    .privacy {
        margin-top: 30px;
    }
    .payment .box .btn button {
        height: 44px;
        width: 75%;
        margin-top: 18px;
        margin-left: 30px;
    }
    .payment .box {
        height: 96px;
    }
    .mt-60 {
        margin-top: 30px;
    }
    .mt-40 {
        margin-top: 10px;
    }
}

@media screen and (max-width: 480px) {
    .settings-content {
        padding: 0px 20px;
    }
    #normal-save-btn {
        display: none;
    }
    #resp-save-btn {
        display: block;
    }
    #card-normal-btn {
        display: none;
    }
    #card-resp-btn {
        display: block;
    }
    .settings-details-block {
        margin-top: 40px;
        margin-bottom: 40px;
        padding: 0px 14px;
    }
    :host ::ng-deep .nav-tabs .nav-item.show .nav-link, :host ::ng-deep .nav-tabs .nav-link.active {
        font-size: 13px;
        line-height: 21px;
    }
    :host ::ng-deep .nav-link:focus, :host ::ng-deep .nav-link:hover {
        font-size: 13px;
        line-height: 21px;
    }
    :host ::ng-deep .nav-link {
        padding: 0px 3px 2px;
        margin: 0px 2px;
        font-size: 13px;
        line-height: 21px;
    }
    .update .btn {
        height: 40px;
        width: auto;
    }
    .privacy {
        margin-top: 20px;
    }
    .card-block img {
        height: 35px;
        width: 60px;
        margin-top: 25px;
        margin-left: 0px;
    }
    .payment .box {
        height: 90px;
    }
    .payment .box .btn button {
        height: 44px;
        width: 100%;
        margin-top: 20px;
        margin-left: 0px;
    }
    .card-number .textbox{
        margin-left: -50%;
        margin-top: 25px;
        width: 167%;
    }
    .textbox{
        height: 39px;
    }
    .payment .box .btn button {
        height: 39px;
        width: 100%;
        margin-top: 18px;
        margin-left: 0px;
    }
    .add-new {
        margin-top: 25px;
        margin-left: 50px;
    }
    .mt-60 {
        margin-top: 20px;
    }
    .mt-40 {
        margin-top: 15px;
    }
    .table{
        font-size: 13px;
    }
}

@media screen and (max-width: 380px) {
    .settings-content {
        padding: 0px 5px;
    }
    #normal-save-btn {
        display: none;
    }
    #resp-save-btn {
        display: block;
    }
    #card-normal-btn {
        display: none;
    }
    #card-resp-btn {
        display: block;
    }
    .settings-details-block {
        width: 100%;
        height: 100%;
        margin-top: 40px;
        margin-bottom: 40px;
        padding: 0px 14px;
    }
    :host ::ng-deep .nav-tabs .nav-item.show .nav-link, :host ::ng-deep .nav-tabs .nav-link.active {
        font-size: 13px;
        line-height: 21px;
    }
    
    :host ::ng-deep .nav-link:focus, :host ::ng-deep .nav-link:hover {
        font-size: 13px;
        line-height: 21px;
    }
    :host ::ng-deep .nav-link {
        padding: 0px 3px 2px;
        margin: 0px 1px;
        font-size: 13px;
        line-height: 21px;
    }
    label {
        margin-bottom: 10px;
    }
    .update .btn {
        height: 40px;
        width: 40%;
    }
    .privacy {
        margin-top: 20px;
    }
    .card-block img {
        height: 35px;
        width: 60px;
        margin-top: 25px;
        margin-left: 0px;
    }
    .payment .box {
        height: 90px;
        border-radius: 8px;
    }
    .payment .box .btn button {
        height: 44px;
        width: 100%;
        margin-top: 20px;
        margin-left: 0px;
    }
    .card-number .textbox{
        margin-left: -50%;
        margin-top: 25px;
        width: 167%;
    }
    .textbox{
        height: 39px;
    }
    .payment .box .btn button {
        height: 39px;
        width: 100%;
        margin-top: 18px;
        margin-left: 0px;
    }
    .add-new {
        margin-top: 26px;
        margin-left: 40px;
    }
    .mt-60 {
        margin-top: 20px;
    }
    .mt-40 {
        margin-top: 15px;
    }
    .table{
        font-size: 11px;
    }
}

@media only screen and (max-width: 320px) {
    .settings-content {
        padding: 0px 5px;
    }
    #normal-save-btn {
        display: none;
    }
    #resp-save-btn {
        display: block;
    }
    #card-normal-btn {
        display: none;
    }
    #card-resp-btn {
        display: block;
    }
    .settings-details-block {
        width: 100%;
        height: 100%;
        margin-top: 40px;
        margin-bottom: 40px;
        padding: 0px 14px;
    }
    label {
        margin-bottom: 10px;
    }
    .update .btn {
        height: 40px;
        width: 40%;
    }
    .privacy {
        margin-top: 20px;
    }
    .card-block img {
        height: 25px;
        width: 40px;
        margin-top: 25px;
        margin-left: 0px;
    }
    .payment .box {
        height: 78px;
    }
    .payment .box .btn button {
        height: 44px;
        width: 100%;
        margin-top: 20px;
        margin-left: 0px;
    }
    .card-number .textbox{
        margin-left: -81%;
        margin-top: 18px;
        width: 215%;
    }
    .textbox{
        height: 39px;
    }
    .payment .box .btn button {
        height: 39px;
        width: 100%;
        margin-top: 11px;
        margin-left: 0px;
    }
    .add-new {
        margin-top: 26px;
        margin-left: 40px;
    }
    .mt-60 {
        margin-top: 20px;
    }
    .mt-40 {
        margin-top: 15px;
    }
    :host ::ng-deep .nav-tabs .nav-item.show .nav-link, :host ::ng-deep .nav-tabs .nav-link.active {
        font-size: 11px;
        line-height: 21px;
    }
    
    :host ::ng-deep .nav-link:focus, :host ::ng-deep .nav-link:hover {
        font-size: 11px;
        line-height: 21px;
    }
    :host ::ng-deep .nav-link {
        padding: 0px 1px 2px;
        margin: 0px 1px;
        font-size: 11px;
        line-height: 21px;
    }
    .table{
        font-size: 10px;
    }
}