<div class="settings-content">
	<div class="user-name">Settings</div>
	<div class="settings-details-block">
		<div class="row">
			<div class="col-sm-12">
				<tabset>
					<tab customClass="tabs-custom" heading="Account" id="tab1">
						<div class="row">
							<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
								<div class="account">
									<label>Email</label>
									<input type="text" [(ngModel)]="userEmail" class="form-control textbox" disabled/>
								</div>
								<div class="password mt-60">
									<label>Change Password</label>
									<input type="password" [(ngModel)]="userPassword" (keyup)="removeErrorState()" id="newPassword" class="form-control textbox" placeholder="New password"/>
									<input type="password" [(ngModel)]="userPasswordConfirm" (keyup)="removeErrorState()" id="newPasswordConfirm" class="form-control textbox mt-20" placeholder="Confirm password" />
									<p class="errorMsg" *ngIf="passowrdMismatchStatus" id="errorPassowrdMismatch">Password Mismatch!!  Please try again.</p>
									<p class="errorMsg" *ngIf="passowrdErrorStatus" id="errorMsg">Please fill all details.</p>
									<p class="successMsg" *ngIf="passwordSuccessStatus" id="successMsg">Password successfully updated.</p>
									<p class="errorMsg" *ngIf="passwordApiErrStatus" >Something went wrong!! Please try again.</p>
									
								</div>
								<div class="update mt-40">
									<button type="submit" (click)="updatePwd()" class="btn">Update</button>
								</div>
							</div>
						</div>
					</tab>
					<tab heading="Edit profile">
						<div class="row">
							<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
								<div class="edit-profile">
									<label>Name</label>
									<input type="text" [(ngModel)]="userName" class="form-control textbox" />
								</div>
								<div class="password mt-50">
									<label>Profile picture</label>
									<input type="file" class="form-control textbox picture-file"/>
								</div>
								<div class="biography mt-50">
									<label>Biography</label>
									<input type="text" [(ngModel)]="userBio" class="form-control textbox"/>
									<p class="desc mt-20">We suggest a short bio. If it's 300 characters or less it'll look great on your profile.</p>
								</div>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
								<div class="location">
									<label>Location</label>
									<input type="text" [(ngModel)]="userLocation" class="form-control textbox" />
								</div>
								<div class="privacy">
									<div>Privacy</div>
									<div class="mt-10">Private profile</div>
									<div>If your profile is private, others can see your name and picture.</div>
									<div class="mt-10">If your profile is not private, others can also see the projects you’ve backed, your bio, and websites.</div>
								</div>
								<div class="update mt-60" id="normal-save-btn">
									<button type="submit" (click)="updateProfileData()" class="btn">Save Settings</button>
									<p class="errorMsg" *ngIf="profileErrStatus" >Something went wrong!! Please try again.</p>
									<p class="successMsg" *ngIf="profileSuccessStatus" >Profile updated successfully.</p>
								</div>
								<div class="update mt-60" id="resp-save-btn">
									<button type="submit" (click)="updateProfileData()" class="btn">Save Settings</button>	
								</div>
							</div>
						</div>
					</tab>
					<tab heading="Payment methods">
						<div class="row">
							<div class="col-sm-12 payment">
								<label>Payment options</label>
								<div class="desc mt-20">
									Any payment methods you save to Kickstarter will be listed here (securely) for your convenience. To save a card for future pledges, just enter your card information and click "Save."
								</div>
								<div class="saved-cards mt-40">My saved cards</div>
								<div class="box mt-20" *ngIf="userSavedCard != '' && userSavedCard != undefined && userSavedCard != none">
									<div class="col-lg-1 col-md-1 col-sm-0 col-xs-0 card-block">
										<img src="./assets/img/card.png" />
									</div>
									<div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 card-number">
										<input type="text" class="form-control textbox" [(ngModel)]="userSavedCard" value="4407 XXXX XXXX X902">
									</div>
									<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 btn">
										<button type="submit">Remove this card</button>
									</div>
								</div>
								<div class="box new mt-40">
									<div class="add-new">
										<span class="plus" id="collapse-addnew" (click)="addNewCard()" [attr.aria-expanded]="!isAddNewCardCollapsed" aria-controls="collapseEvent">+</span>
										<span class="addCardBtn" (click)="addNewCard()" [attr.aria-expanded]="!isAddNewCardCollapsed" aria-controls="collapseEvent">Add a new card</span>
									</div>
								</div>
								<div class="row" id="collapseEvent" [isAnimated]="true" [collapse]="isAddNewCardCollapsed">
									<div class="sec-divider mt-60"></div>
									<div class="col-sm-6 mt-40">
										<div class="crd-number">
											<label>Card number</label>
											<input type="text" [(ngModel)]="userNewCardNumber" class="form-control textbox" />
										</div>
										<div class="expiration mt-50">
											<label>Expiration</label>
											<input type="text" [(ngModel)]="userNewCardExp" class="form-control textbox"/>
										</div>
										<div class="zip mt-50">
											<label>Zip/Postal code</label>
											<input type="text" [(ngModel)]="userNewCardZipcode" class="form-control textbox"/>
										</div>
									</div>
									<div class="col-sm-6 mt-40">
										<div class="cardholder-name">
											<label>Cardholder name</label>
											<input type="text" [(ngModel)]="userNewCardName" class="form-control textbox" />
										</div>
										<div class="security-code mt-50">
											<label>Security Code</label>
											<input type="text" [(ngModel)]="userNewCardSecurityCode" class="form-control textbox" />
										</div>
										<div class="update mt-170" id="card-normal-btn">
											<button type="submit" (click)="updateCardData()" class="btn">Save Card Details</button>
											<p class="errorMsg" *ngIf="cardValidationErrStatus" >Please fill all required details.</p>
											<p class="errorMsg" *ngIf="cardErrStatus" >Something went wrong!! Please try again.</p>
											<p class="successMsg" *ngIf="cardSuccessStatus" >Card added successfully.</p>
										</div>
										<div class="update mt-40" id="card-resp-btn">
											<button type="submit" (click)="updateCardData()" class="btn">Save Card Details</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</tab>
					<tab heading="Security">
						<div class="row security">
							<div class="col-sm-12">
								<div class="login-his">Login History</div>
								<div class="login-his-desc mt-20">This feature provides information about your account usage and other related changes. If you see any suspicious activity, change your password immediately.</div>
								<div class="mt-40">
									<table class="table">
										<thead>
											<tr>
											<th scope="col">Activity</th>
											<th scope="col">Time</th>
											<th scope="col">Location</th>
											<th scope="col">IP Address</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<th scope="col">You added a credit card to your account</th>
												<td>Wed, July 3 2019 4:29 PM UTC+5:30</td>
												<td>Bangalore, 560008, IN</td>
												<td>106.51.73.73</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</tab>
				</tabset>
			</div>
		</div>
	</div>
</div>