<div class="container-fluid">
	<div class="row">
  		<div class="col-sm-6 login-cred">
     		<div id="registerFormDiv" class="col-lg-12">
        		<div class="col-lg-8 register-div">
					<a routerLink="/home"><img src="./assets/img/logo.png" style="margin-bottom: 5%;margin-top: 0%; width: 140px;"></a>
					<div class="body-text">
						<div class="sign-in-title">Get Started With Us</div>
						<div class="sub-text">Crowdfunding site everyone.</div>
					</div>
					<form [formGroup]="registerForm" class="regForm" (ngSubmit)="onRegister()">
						<div class="form-group">
							<label for="firstName" class="secondary-text">FULL NAME</label>
							<input type="text" formControlName="firstName" class="form-control textCss" [(ngModel)]="userFullname" [ngClass]="{ 'is-invalid': submitted && registerControl.firstName.errors }" />
							<div *ngIf="submitted && registerControl.firstName.errors" class="invalid-feedback">
								<div *ngIf="registerControl.firstName.errors.required">First Name is required</div>
							</div>
						</div>
						<div class="form-group">
							<label for="username" class="secondary-text">EMAIL ADDRESS</label>
							<input type="text" formControlName="username" class="form-control textCss" [(ngModel)]="userEmail" [ngClass]="{ 'is-invalid': submitted && registerControl.username.errors }" />
							<div *ngIf="submitted && registerControl.username.errors" class="invalid-feedback">
								<div *ngIf="registerControl.username.errors.required">email is required</div>
							</div>
						</div>
						<div class="form-group">
							<label for="password" class="secondary-text">PASSWORD</label>
							<input type="password" formControlName="password" class="form-control textCss" [(ngModel)]="userPassword" [ngClass]="{ 'is-invalid': submitted && registerControl.password.errors }" />
							<div *ngIf="submitted && registerControl.password.errors" class="invalid-feedback">
								<div *ngIf="registerControl.password.errors.required">Password is required</div>
								<div *ngIf="registerControl.password.errors.minlength">Password must be at least 8 characters</div>
							</div>
						</div>
						<div class="form-group">
							<button [disabled]="loading" class="btn registerSubmit">Create Account</button>
							<p class="secondary-text accept-text">By signing up, you agree to our terms of use, privacy policy and cookie policy. </p>
							<p class="secondary-text middle-text" >OR</p>
							<button [disabled]="loading" class="btn loginSubmit" style="background-color:#3b5998;"><i class="fa fa-facebook" style="color:#fff;"></i>&nbsp;&nbsp;Continue with Facebook</button>
                			<button [disabled]="loading" class="btn loginSubmit" style="background-color: #dd4b39"> <i class="fa fa-google" style="color:#fff;"></i>&nbsp;&nbsp; Continue with Google</button>
						</div>
						<div class="login-footer-text">
							<div class="secondary-text middle-text">Already have an account?
							<a routerLink="/login" class="registerBtn">Sign in</a></div>
						</div>
            		</form>
        		</div>
    		</div>  
  		</div>
  		<div class="col-sm-6 no-pad no-margin">
      		<div class="col-sm-12 register-image"></div>
  		</div>
	</div>
</div>

