.text-title{
    color: #000000;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 1.06px;
    text-align: center;
}
.no-padding{
    padding:0px !important;
}
.text-sub-title{
    color: #4A4A4A;
    font-size: 19px;
    letter-spacing: 0.5px;
    line-height: 15px;
    text-align: center;
}
.img-text{
    color: #FFFFFF;	
    font-size: 18px;	
    font-weight: bold;	
    letter-spacing: 0.53px;	
    line-height: 21px;
    position: absolute;
    margin-top: 35px;
    left: 35px;
}
.underline{
    box-sizing: border-box;
    height: 2px;
    /* width: 722px; */
    border: 1px solid #979797;
    margin-top: 4%;
}
.next-btn{
    height: 56px;	
    margin-top: 17%;
    // width: 203px;	
    border: 1px solid #9013FE;	
    border-radius: 5px;	
    background-color: #9013FE;
    color: #FFFFFF;	
    // font-family: Roboto;	
    font-size: 16px;	
    font-weight: bold;	
    letter-spacing: 0.53px;	
    line-height: 21px;	
    text-align: center;
    width: 180px;
}
.next-btn:disabled {
    height: 56px;	
    margin-top: 17%;
    // width: 203px;	
    border: 1px solid #979797;	
    border-radius: 5px;	
    background-color: #D8D8D8;
    color: #FFFFFF;	
    // font-family: Roboto;	
    font-size: 16px;	
    font-weight: bold;	
    letter-spacing: 0.53px;	
    line-height: 21px;	
    text-align: center;
}
.errMsg{
    color:rgb(253, 69, 69);
    margin-top: 8%;
    margin-left: 1%;
}
.start-btn{
    height: 56px;	
    margin-top: 17%;
    // width: 203px;	
    border: 1px solid #979797;	
    border-radius: 5px;	
    background-color: #9013FE;
    color: #FFFFFF;	
    // font-family: Roboto;	
    font-size: 15px;	
    font-weight: bold;	
    letter-spacing: 0.53px;	
    line-height: 10px;	
    text-align: center;

}
.primary-text{
    color: #4A4A4A;	
    // font-family: Roboto;	
    font-size: 17px;	
    font-weight: bold;	
    letter-spacing: 0.5px;	
    line-height: 20px;	
    text-align: left;
    margin-bottom:3%;
}
.secondary-text{
    color: #4A4A4A;	
    // font-family: Roboto;	
    font-size: 17px;	
    letter-spacing: 0.5px;	
    line-height: 20px;	
    text-align: left;
}
.cont {
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #4A4A4A;	
//   font-family: Roboto;	
  font-size: 16px;	
  letter-spacing: 0.47px;	
  line-height: 15px;
  margin-right: 4%;
}

/* Hide the browser's default radio button */
.cont input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #eee;
  border-radius: 50%;
  border: 1px solid #979797;
}

/* On mouse-over, add a grey background color */
.cont:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.cont input:checked ~ .checkmark {
  background-color: #fff;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.cont input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.cont .checkmark:after {
    top: 1px;
    left: 1px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
	background-color: #9013FE;
}
.desc-text{
    height: 135px;	
    width: 100%;	
    border: 1px solid #979797;
    padding: 0px 0px 98px 13px;
    margin-bottom: 2%;
    border-radius: 0px;
}
.toggle-css{
    border: 1px solid #979797;	
    width: 100%;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.5);
    padding: 12px 5px 12px 16px;
    text-align: left;
    border-radius: 0px;
}
.dropdown-menu.show{
    width:100%;
}

@media screen and (max-width: 1200px) and (min-width: 992px) {
    .next-btn{
        font-size: 13px;
    }
    .start-btn{
        font-size: 11px;
    }

}
@media screen and (max-width: 991px) and (min-width: 767px) {
    .next-btn{
        font-size: 12px;
    }
}
@media screen and (max-width: 768px) {
    .next-btn{
        font-size: 10px;
        width: 180px;
    }
    
}
@media screen and (max-width: 767px) and (min-width: 640px) {
    .next-btn{
        font-size: 10px;
        width: 180px;
    }
}
@media screen and (max-width: 639px) and (min-width: 481px) {
    .next-btn{
        font-size: 9px;
        width: 180px;
    }
}
@media only screen and (max-width: 555px) {
    .start-btn{
        margin-top: 6%;
    }
    .next-btn{
        font-size: 10px;
        width: 180px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 3%;
    }
    .secondary-text {
        color: #4A4A4A;
        font-size: 15px;
        letter-spacing: 0.5px;
        line-height: 20px;
        text-align: left;
    }
}
@media screen and (max-width: 480px) {
    .start-btn{
        margin-top: 6%;
    }
    .next-btn{
        font-size: 10px;
        width: 180px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 3%;
    }
    .secondary-text {
        color: #4A4A4A;
        font-size: 15px;
        letter-spacing: 0.5px;
        line-height: 20px;
        text-align: left;
    }
}
@media screen and (max-width: 425px) {
    .start-btn{
        margin-top: 6%;
    }
    .next-btn{
        font-size: 10px;
        width: 180px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 3%;
    }
    .secondary-text {
        color: #4A4A4A;
        font-size: 15px;
        letter-spacing: 0.5px;
        line-height: 20px;
        text-align: left;
    }
}
@media screen and (max-width: 380px) {
    .start-btn{
        margin-top: 6%;
    }
    .next-btn{
        font-size: 10px;
        width: 180px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 3%;
    }
    .secondary-text {
        color: #4A4A4A;
        font-size: 15px;
        letter-spacing: 0.5px;
        line-height: 20px;
        text-align: left;
    }
}
@media only screen and (max-width: 320px) {
    .start-btn{
        margin-top: 6%;
    }
    .next-btn{
        font-size: 10px;
        width: 180px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 3%;
    }
    .secondary-text {
        color: #4A4A4A;
        font-size: 15px;
        letter-spacing: 0.5px;
        line-height: 20px;
        text-align: left;
    }
}
