<div class="container-fluid" style="margin-bottom:3%;">
  <section class="start-section-1" id="start-section-1" style="display: block;">
    <div class="row">
      <div class="col-sm-4"></div>
      <div class="col-sm-4">
        <img src="./assets/img/logo_startproject.png" style="width: 100%;margin-top: 4%;">
      </div>
      <div class="col-sm-4"></div>
    </div>
    <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-8">
        <p class="text-title"> Welcome to Crowdfunding </p>
        <p class="text-sub-title"> Pick a project category to connect with a specific community </p>
        <p class="text-sub-title"> You can always update this later. </p>
      </div>
      <div class="col-sm-2"></div>
    </div>
    
    <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-4">
        <p class="img-text" id="art">Art</p>
        <img (click)="startProject('art')" src="./assets/img/sp_box_image.png" style="width: 100%;margin-top: 4%;cursor: pointer;">
      </div>
      <div class="col-sm-4">
          <p class="img-text" id="film">Film</p>
        <img (click)="startProject('film')" src="./assets/img/sp_box_image.png" style="width: 100%;margin-top: 4%;cursor: pointer;">
      </div>
      <div class="col-sm-2"></div>

      <div class="col-sm-2"></div>
      <div class="col-sm-4">
        <p class="img-text" id="comics">Comics</p>
        <img (click)="startProject('comics')" src="./assets/img/sp_box_image.png" style="width: 100%;margin-top: 4%;cursor: pointer;">
      </div>
      <div class="col-sm-4">
          <p class="img-text" id="foodandcraft">Food & Craft</p>
        <img (click)="startProject('food and craft')" src="./assets/img/sp_box_image.png" style="width: 100%;margin-top: 4%;cursor: pointer;">
      </div>
      <div class="col-sm-2"></div>

      <div class="col-sm-2"></div>
      <div class="col-sm-4">
        <p class="img-text" id="games" >Games</p>
        <img (click)="startProject('games')" src="./assets/img/sp_box_image.png" style="width: 100%;margin-top: 4%;cursor: pointer;">
      </div>
      <div class="col-sm-4">
          <p class="img-text" id="music">Music</p>
        <img (click)="startProject('music')" src="./assets/img/sp_box_image.png" style="width: 100%;margin-top: 4%;cursor: pointer;">
      </div>
      <div class="col-sm-2"></div>

      <div class="col-sm-2"></div>
      <div class="col-sm-4">
        <p class="img-text" id="cause" >Cause</p>
        <img (click)="startProject('cause')" src="./assets/img/sp_box_image.png" style="width: 100%;margin-top: 4%;cursor: pointer;">
      </div>
      <div class="col-sm-4">
          <!-- <p class="img-text">Music</p>
        <img src="./assets/img/sp_box_image.png" style="width: 100%;margin-top: 4%;"> -->
      </div>
      <div class="col-sm-2"></div>

      <div class="col-sm-2"></div>
      <div class="col-sm-8 underline"></div>
      <div class="col-sm-2"></div>

      <div class="col-lg-2 col-md-2 col-sm-0 col-xs-0"></div>
      <div class="col-lg-6 col-md-5 col-sm-12 col-xs-12"></div>
      <div class="col-lg-2 col-md-3 col-sm-12 col-xs-12">
        <input type="button" [disabled]="!openSec" class="form-control next-btn" value="Next: Project Idea" (click)="openSection()">
      </div>
      <div class="col-lg-2 col-md-2 col-sm-0 col-xs-0"></div>

    </div>
  </section>
<!-- section 2 -->
<section class="start-section-2" id="start-section-2" style="display: none;">
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
          <img src="./assets/img/logo_startproject.png" style="width: 100%;margin-top: 4%;">
        </div>
        <div class="col-sm-4"></div>
      </div>
      <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
          <p class="text-title"> Let's get ready to start your campaign </p>
        </div>
        <div class="col-sm-2"></div>
      </div>
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
          <div class="row">
            <div class="col-sm-12">
                <p class="primary-text"> Who are you raising for? </p>
                <p class="secondary-text"> Please choose the type of account that will be receiving the funds. </p>
                <div class="radio-btn-din">
                    <label class="cont">Individual
                        <input (click)="setAcntType('Individual')" type="radio" checked="checked" name="radio">
                        <span class="checkmark"></span>
                    </label>
                    <label class="cont">Business
                      <input (click)="setAcntType('Business')" type="radio" checked="checked" name="radio">
                      <span class="checkmark"></span>
                    </label>
                    <label class="cont">Non Profit
                      <input (click)="setAcntType('Non Profit')" type="radio" checked="checked" name="radio">
                      <span class="checkmark"></span>
                    </label>
                </div>
                <p class="primary-text" style="margin-top:5%;"> Describe what you'll be creating. </p>
                <input type="textarea" #projDescInp [(ngModel)]="projDesc" class="form-control desc-text" placeholder="Write your description here" 
                [ngClass]="{'is-invalid': ((this.projDesc == '' || this.projDesc == null) && projDescInp.classList.contains('ng-touched')) }">
            </div>
            <div class="col-sm-12">
                <p class="primary-text" style="margin-top:4%;"> Where are you located? </p>
                <p class="secondary-text"> Tell us where you're based and confirm a few other details before we proceed. </p>
                <!-- <div class="dropdown">
                    <button type="button" [(ngModel)]="projLocation" class="btn toggle-css" id="locationDrowdown" data-toggle="dropdown">
                      Select your country
                    </button>
                    <div class="dropdown-menu">
                      <a (click)="setProjLocation('India')" class="dropdown-item">India</a>
                      <a (click)="setProjLocation('Australia')" class="dropdown-item">Australia</a>
                      <a (click)="setProjLocation('USA')" class="dropdown-item">United States of America </a>
                    </div>
                </div> -->

                <div class="dropdown" dropdown>
                  <button id="button-basic" dropdownToggle id="locationDrowdown" type="button" class="btn toggle-css"
                          aria-controls="dropdown-basic">
                          Select your country
                  </button>
                  <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
                      role="menu" aria-labelledby="button-basic">
                      <li (click)="setProjLocation('India')" role="menuitem"><a class="dropdown-item">India</a></li>
                      <li (click)="setProjLocation('Australia')" role="menuitem"><a class="dropdown-item">Australia</a></li>
                      <li (click)="setProjLocation('USA')" role="menuitem"><a class="dropdown-item">USA</a></li>
                      <li (click)="setProjLocation('England')" role="menuitem"><a class="dropdown-item">England</a></li>
                  </ul>
                </div>
                <!--  -->
                <div class="col-sm-12 underline">  
                <!--  -->
            </div>
              
            </div>
            <div class="col-lg-9 col-md-8 col-sm-6 col-xs-6">
              <div *ngIf="startProjError" class="errMsg">Please fill all required fields</div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
                <input type="button" class="form-control start-btn " value="START MY CAMPAIGN" (click)="createProject()">
              
            </div>
            <p class="secondary-text" style="margin-top: 5%;text-align: left;margin-left: 2%;"> To create project , you're required to provide your location, age, national ID, banking and tax <br/> 
            information, email and mailing address. This information is necessary to prevent fraund, comply <br/>
            with the law, and - if your project is successful - to deliver funds. Please note: after launch, your <br/>
            ability to edit, hide or delete a project is limited. 
            </p>
            
          </div>
        </div>
        <div class="col-sm-2"></div>
    </div>
  </section>
</div>
