/* You can add global styles to this file, and also import other style files */

body {
    font-family: Poppins,sans-serif;
    
}

a {
    cursor: pointer;
}

.no-pad, .no-margin {
    padding: 0px;
    margin: 0px;
}

::placeholder {
    color: gainsboro !important;
    opacity: 1; /* Firefox */
  }
  