.w100p {
    width: 100%;
}
.auto-scroll-x {
    overflow-x: auto;
}

.mtb30 {
    margin-top: 30px;
    margin-bottom: 30px;
}
.mob-sc-project{
    display: none;
}

.flex {
    display: flex;
}
.text-nowrap {
    white-space: nowrap;
}
ul {
    list-style: none;
}
ul, li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

@media (min-width: 1025px) {
    .mrl30 {
        margin-right: 30px;
        margin-left: 30px;
    }
}
.mrl20 {
    margin-right: 20px;
    margin-left: 20px;
}
.home-ctr {
    padding-left: 80px;
    padding-right: 80px;
}
.type-19 {
    font-size: 19px;
    line-height: 25px;
}

.dark-grey {
    color: #2E384D;
}

.justify-center {
    -webkit-box-pack: center;
    justify-content: center;
}

.w60 {
    width : 60px;
}

.home-vd>img {
    height: 806px;
    position: relative;
    overflow: hidden;
    width: 100%;
}
.sec-divider {
    border-bottom: 1px solid #979797;
    box-sizing: border-box;
    height: 2px;
    width: 100%;
}

.featured-projects, .top-fundraising-projects, .more-to-explore, .section-div {
    margin-top: 100px;
    padding: 0px 80px;
}

.featured-projects p, .top-fundraising-projects p, .more-to-explore p
{
    color: rgba(74,74,74,0.79);
    font-size: 21px;
    font-weight: bold;
    line-height: 24px;
}

.featured-projects a, .top-fundraising-projects a, .more-to-explore a {
    color: #5D8DF3;
    font-size: 22px;
    line-height: 26px;
    float: right;
    cursor: pointer;
}

.featured-projects img {
    height: 310px;
    width: 555px;
    margin-top: 40px;
    cursor: pointer;
}

.rimg {
    margin-left: 25px;
}

.section-div .ltimg {
    width: 150px;
    height: 150px;
}

.section-div h3 {
    background-image : linear-gradient(to right, #ff0 85%, #fff 100%);
    padding: 0px 10px 0px 10px;
    margin-top: 20px;
}

.section-div p {
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 18px;
    width : 80%;
    line-height: 24px;
}

.section-div a {
    font-size: 14px;
}

.top-fundraising-projects img {
    width : 380px;
    height: 250px;
    margin-top: 40px;
}

.more-to-explore img {
    width : 280px;
    height: 380px;
    margin-top: 40px;
}

.proj-details {
    margin-top: 35px;
}
.proj-title {
    color: #2E384D;
    font-size: 22px;
}

.proj-desc {
    margin-top: 20px;
    color: #2E384D;
    font-size: 18px;
    line-height: 23px;
}

.feat-proj {
    width: 550px;
}

.proj-author {
    margin-top: 20px;
    color: #9B9B9B;
    font-size: 16px;
    line-height: 26px;
}

.mt70 {
    margin-top: 70px;
}

.mb80 {
    margin-bottom: 80px;
}

.news-letter .title {
    color: rgba(74,74,74,0.79);
    font-size: 28px;
    font-weight: bold;
    line-height: 33px;
    text-align: center;
}

.news-letter .sign-up {
    color: rgba(74,74,74,0.79);
    font-size: 21px;
    line-height: 24px;
    text-align: center;
    margin-top: 40px;
}

.subs-block {
    margin-top: 80px;
    text-align: center;
}

.subs-email {
    height: 57px;
    width: 627px;
    border: 1px solid #979797;
    padding: 15px 10px 15px 35px;
}

.subs-btn {
    height: 57px;
    width: 171px;
    border: 1px solid #979797;
    background-color: #2E384D;
    color: #FFFFFF;
    font-size: 21px;
    line-height: 24px;
    padding: 15px 28px 16px 34px;
    text-transform: uppercase;
    margin-left: 40px;
}

.quote {
    margin-top: 100px;
    text-align: center;
}

.quote-block {
    height: 438px;
    width: 90%;
    border: 1px solid #979797;
    opacity: 0.83;
    background-color: #2E5BFF;
    margin: auto;
}

.quote-text {
    color: #FFFFFF;
    font-size: 38px;
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 49px;
    padding: 150px 80px 150px 80px;
}

.rtimg {
    margin-left: 35px;
    width: 750px;
    height: 420px;
}

.m-0 {
    margin: 0px;
}

.mb10 {
    margin-bottom: 10px;
}
@media screen and (max-width: 1200px) and (min-width: 992px) {
    .section-div .ltimg {
        width: 130px;
        height: 130px;
        margin-left: 40%;
    }
    .featured-projects img {
        height: 310px;
        width: 100%;
        margin-top: 40px;
        cursor: pointer;
    }
    .rtimg {
        margin-left: 35px;
        width: 100%;
        height: 420px;
    }
    .top-fundraising-projects img {
        width: 100%;
        margin-top: 30px;
    }
    .more-to-explore img{
        width: 100%;
        height: 380px;
        margin-top: 40px;
    }
    .section-div h3 {
        background-image: linear-gradient(to right, #ff0 85%, #fff 100%);
        padding: 0px 10px 0px 10px;
        margin-top: 20px;
        margin-left: 26%;
    }
    .section-div p {
        padding-top: 15px;
        padding-bottom: 15px;
        font-size: 18px;
        width: 80%;
        line-height: 24px;
        margin-left: 26%;
    }
    .section-div a{
        font-size: 14px;
        margin-left: 26%;
    }

}
@media screen and (max-width: 1024px) {
    .featured-projects img{
        height: 310px;
        width: 391px;
        margin-top: 40px;
        cursor: pointer;
    }
    .feat-proj {
        width: 405px;
    }
    .top-fundraising-projects img{
        width: 260px;
        height: 250px;
        margin-top: 30px;
    }
    .rtimg{
        margin-left: 35px;
        width: 100%;
        height: 420px;
    }
    .section-div a {
        font-size: 14px;
        margin-left: 19%;
    }
    .more-to-explore img {
        width: 100%;
        height: 380px;
        margin-top: 40px;
    }
    .home-ctr {
        padding-left: 50px;
        padding-right: 50px;
    }
    .mrl30 {
        margin-right: 19px;
        margin-left: 19px;
    }
}
@media screen and (max-width: 991px) and (min-width: 767px) {

    .featured-projects img{
        height: 310px;
        width: 100%;
        margin-top: 40px;
        cursor: pointer;
    }
    .home-ctr {
        padding-left: 0px;
        padding-right: 0px;
    }
    .section-div a {
        font-size: 14px;
        margin-left: 0%;
    }
    .quote-text{
        color: #FFFFFF;
        font-size: 36px;
        font-weight: bold;
        letter-spacing: 2px;
        line-height: 49px;
        padding: 80px 80px 110px 80px;
    }
}
@media screen and (max-width: 768px) {
    .featured-projects img{
        height: 310px;
        width: 100%;
        margin-top: 30px;
        cursor: pointer;
    }
    .feat-proj{
        width: 100%;
    }
    .news-letter .title {
        font-size: 20px;
    }
    .subs-email {
        height: 54px;
        width: 78%;
        border: 1px solid #979797;
    }
    .subs-block{
        margin-top: 40px;
        text-align: center;
    }
    .subs-btn{
        height: 57px;
        width: 25%;
        border: 1px solid #979797;
        background-color: #2E384D;
        color: #FFFFFF;
        font-size: 21px;
        line-height: 24px;
        padding: 15px 28px 16px 34px;
        text-transform: uppercase;
        margin-left: 20px;
        margin-top: 1%;
    }
    .top-fundraising-projects img{
        width: 100%;
        height: 136px;
        margin-top: 30px;
    }
    .more-to-explore img {
        width: 100%;
        height: 200px;
        margin-top: 30px;
    }
    .quote-block{
        height: 408px;
        width: 90%;
        border: 1px solid #979797;
        opacity: 0.83;
        background-color: #2E5BFF;
        margin: auto;
    }
    .quote-text{
        color: #FFFFFF;
        font-size: 31px;
        font-weight: bold;
        letter-spacing: 2px;
        line-height: 49px;
        padding: 60px 80px 110px 80px;
    }
}
@media screen and (max-width: 767px) and (min-width: 640px) {}
@media screen and (max-width: 639px) and (min-width: 481px) {
    .home-vd > img {
        height: 500px;
        position: relative;
        overflow: hidden;
        width: 100%;
    }
    .home-ctr{
        padding-left: 3px;
        padding-right: 0px;
    }
    .featured-projects, .top-fundraising-projects, .more-to-explore, .section-div{
        margin-top: 40px;
        padding: 0px 45px;
    }
    .featured-projects img {
        height: 250px;
        width: 100%;
        margin-top: 30px;
        cursor: pointer;
    }
    .section-div .ltimg {
        width: 125px;
        height: 125px;
    }
    .section-div p {
        padding-top: 15px;
        padding-bottom: 15px;
        font-size: 18px;
        width: 100%;
        line-height: 24px;
    }
    .section-div a {
        font-size: 14px;
        margin-left: 0%;
    }
    .proj-desc {
        margin-top: 20px;
        color: #2E384D;
        font-size: 15px;
        line-height: 23px;
    }
    .quote-text{
        color: #FFFFFF;
        font-size: 31px;
        font-weight: bold;
        letter-spacing: 2px;
        line-height: 49px;
        padding: 50px 45px 110px 56px;
    }
}
@media only screen and (max-width: 555px) {}
@media screen and (max-width: 480px) {
    .home-vd > img {
        height: 270px;
        position: relative;
        overflow: hidden;
        width: 100%;
    }
    .home-ctr {
        padding-left: 2px;
        padding-right: 2px;
    }
    .mrl30 {
        margin-right: 7px;
        margin-left: 13px;
    }
    .type-19 {
        font-size: 17px;
        line-height: 25px;
    }
    .featured-projects , .top-fundraising-projects , .more-to-explore , .section-div {
        margin-top: 40px;
        padding: 0px 20px;
    }
    .rimg {
        margin-left: 0px;
    }
    .featured-projects p , .top-fundraising-projects p , .more-to-explore p {
        color: rgba(74, 74, 74, 0.79);
        font-size: 18px;
        font-weight: bold;
        line-height: 24px;
    }
    .featured-projects a, .top-fundraising-projects a , .more-to-explore a {
        color: #5D8DF3;
        font-size: 17px;
        line-height: 26px;
        float: right;
        cursor: pointer;
    }
    .featured-projects img {
        height: 310px;
        width: 100%;
        margin-top: 20px;
        cursor: pointer;
    }
    .subs-email {
        height: 54px;
        width: 84%;
        border: 1px solid #979797;
        padding: 15px 10px 15px 10px;
    }
    .subs-btn {
        height: 50px;
        width: 50%;
        border: 1px solid #979797;
        background-color: #2E384D;
        color: #FFFFFF;
        font-size: 21px;
        line-height: 24px;
        padding: 8px 31px 9px 34px;
        text-transform: uppercase;
        margin-left: 0px;
        margin-top: 3%;
    }
    .rtimg{
        margin-left: 0px;
        height: 250px;
    }
    .normal-sc-project{
        display: none;
    }
    .mob-sc-project{
        display: block;
    }
    .section-div .ltimg {
        width: 110px;
        height: 110px;
        margin-left: 35%;
    }
    .section-div p {
        padding-top: 15px;
        padding-bottom: 15px;
        font-size: 16px;
        width: 98%;
        line-height: 24px;
    }
    .mb80 {
        margin-bottom: 50px;
    }
    .mt70 {
        margin-top: 50px;
    }
    .quote-text {
        color: #FFFFFF;
        font-size: 30px;
        font-weight: bold;
        letter-spacing: 2px;
        line-height: 43px;
        padding: 20px 20px 28px 20px;
    }
}
@media screen and (max-width: 406px) {}
@media screen and (max-width: 380px) {
    .subs-email[_ngcontent-bgd-c3] {
        height: 50px;
        width: 84%;
        border: 1px solid #979797;
        padding: 15px 10px 15px 10px;
    }
    .quote-text[_ngcontent-bgd-c3] {
        color: #FFFFFF;
        font-size: 28px;
        font-weight: bold;
        letter-spacing: 2px;
        line-height: 43px;
        padding: 20px 20px 28px 20px;
    }
}
@media only screen and (max-width: 320px) {
    .subs-email{
        height: 50px;
        width: 84%;
        border: 1px solid #979797;
        padding: 15px 10px 15px 10px;
    }
    .subs-btn {
        height: 50px;
        width: 50%;
        border: 1px solid #979797;
        background-color: #2E384D;
        color: #FFFFFF;
        font-size: 19px;
        line-height: 24px;
        padding: 8px 31px 9px 27px;
        text-transform: uppercase;
        margin-left: 0px;
        margin-top: 3%;
    }
    .section-div .ltimg {
        width: 110px;
        height: 110px;
        margin-left: 31%;
    }
    .quote-text {
        color: #FFFFFF;
        font-size: 23px;
        font-weight: bold;
        letter-spacing: 2px;
        line-height: 38px;
        padding: 20px 20px 28px 20px;
    }
}