<div class="home-vd">
	<img src="./assets/img/home-img.png" />
</div>
<div class="container home-ctr">
	<nav role="navigation" aria-label="nav" class="w100p mtb30 auto-scroll-x hide-scrollbar">
		<ul class="flex text-nowrap nav-main">
			<li>
				<a href="" class="type-19 dark-grey  mrl30">Arts</a>
			</li>
			<li>
				<a href="" class="type-19 dark-grey  mrl30">Design &amp; Tech</a>
			</li>
			<li>
				<a href="" class="type-19 dark-grey  mrl30">Film</a>
			</li>
			<li>
				<a href="" class="type-19 dark-grey  mrl30">Games</a>
			</li>
			<li>
				<a href="" class="type-19 dark-grey  mrl30">Food &amp; Craft</a>
			</li>
			<li>
				<a href="" class="type-19 dark-grey  mrl30">Music</a>
			</li>
			<li>
				<a href="" class="type-19 dark-grey  mrl30">Publishing</a>
			</li>
		</ul>
	</nav>
</div>

<div class="sec-divider"></div>

<div class="featured-projects">
	<div class="row">
		<div class="col-sm-6">
			<p>FEATURED PROJECTS</p>
		</div>
		<div class="col-sm-6">
			<a>View more</a>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6">
			<img routerLink="/fund-detail" src="./assets/img/sample_project2.png" />
		</div>
		<div class="col-sm-6 mob-sc-project">
			<div class="proj-title">Title of the Project</div>
			<div class="proj-desc feat-proj">
				Lorem Ipsum is simply dummy text of the printing and 
				typesetting industry. Lorem Ipsum has been the industry's 
				standard dummy text ever since the 1500s
			</div>
			<div class="proj-author">by Augustin</div>
		</div>
		<div class="col-sm-6">
			<img src="./assets/img/sample_project3.png" class="rimg"/>
		</div>
		<div class="col-sm-6 mob-sc-project">
			<div class="proj-title rimg">Title of the Project</div>
			<div class="proj-desc feat-proj rimg">
				Lorem Ipsum is simply dummy text of the printing and 
				typesetting industry. Lorem Ipsum has been the industry's 
				standard dummy text ever since the 1500s
			</div>
			<div class="proj-author rimg">by Samuel John</div>
		</div>
	</div>
	<div class="row proj-details normal-sc-project">
		<div class="col-sm-6">
			<div class="proj-title">Title of the Project</div>
			<div class="proj-desc feat-proj">
				Lorem Ipsum is simply dummy text of the printing and 
				typesetting industry. Lorem Ipsum has been the industry's 
				standard dummy text ever since the 1500s
			</div>
			<div class="proj-author">by Augustin</div>
		</div>
		<div class="col-sm-6">
			<div class="proj-title rimg">Title of the Project</div>
			<div class="proj-desc feat-proj rimg">
				Lorem Ipsum is simply dummy text of the printing and 
				typesetting industry. Lorem Ipsum has been the industry's 
				standard dummy text ever since the 1500s
			</div>
			<div class="proj-author rimg">by Samuel John</div>
		</div>
	</div>
</div>

<div class="sec-divider mt70 mb80"></div>

<div class="news-letter">
	<div class="title">Discover the best and brightest projects on Crowdfunding.</div>
	<div class="sign-up">Sign up to receive our weekly Projects We Love newsletter.</div>
	<div class="subs-block">
		<input type="email" class="subs-email" placeholder="Enter email address" />
		<button class="subs-btn">SUBSCRIBE</button>
	</div>
</div>

<div class="sec-divider mt70 mb80"></div>

<div class="top-fundraising-projects">
	<div class="row">
		<div class="col-sm-6">
			<p>TOP FUNDRAISING PROJECTS</p>
		</div>
		<div class="col-sm-6">
			<a>View more</a>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-4">
			<img src="./assets/img/sample_project2.png" />
		</div>
		<div class="col-sm-4 mob-sc-project">
			<div class="proj-title">Title of the Project</div>
			<div class="proj-desc">
				Lorem Ipsum is simply dummy text of the printing and typesetting industry.
			</div>
			<div class="proj-author">by Augustin</div>
		</div>
		<div class="col-sm-4">
			<img src="./assets/img/sample_project3.png"/>
		</div>
		<div class="col-sm-4 mob-sc-project">
			<div class="proj-title">Title of the Project</div>
			<div class="proj-desc">
				Lorem Ipsum is simply dummy text of the printing and typesetting industry.
			</div>
			<div class="proj-author">by Samuel John</div>
		</div>
		<div class="col-sm-4">
			<img src="./assets/img/sample_project2.png" />
		</div>
		<div class="col-sm-4 mob-sc-project">
			<div class="proj-title">Title of the Project</div>
			<div class="proj-desc">
				Lorem Ipsum is simply dummy text of the printing and typesetting industry.
			</div>
			<div class="proj-author">by Samuel John</div>
		</div>
	</div>
	<div class="row proj-details normal-sc-project">
		<div class="col-sm-4">
			<div class="proj-title">Title of the Project</div>
			<div class="proj-desc">
				Lorem Ipsum is simply dummy text of the printing and typesetting industry.
			</div>
			<div class="proj-author">by Augustin</div>
		</div>
		<div class="col-sm-4">
			<div class="proj-title">Title of the Project</div>
			<div class="proj-desc">
				Lorem Ipsum is simply dummy text of the printing and typesetting industry.
			</div>
			<div class="proj-author">by Samuel John</div>
		</div>
		<div class="col-sm-4">
			<div class="proj-title">Title of the Project</div>
			<div class="proj-desc">
				Lorem Ipsum is simply dummy text of the printing and typesetting industry.
			</div>
			<div class="proj-author">by Samuel John</div>
		</div>
	</div>
</div>

<div class="sec-divider mt70 mb80"></div>

<div class="section-div">
	<div class="row">
		<div class="col-sm-4">
			<div>
				<img class="ltimg" src="./assets/img/profile_icon.png" />
			</div>
			<h3>The Creative Independent</h3>
			<p>A growing resource of emotional and practical guidance for creative people.</p>
			<a href="">Visit The Creative Independent</a>
		</div>
		<div class="col-sm-8">
			<img class="rtimg" src="./assets/img/sample_project2.png" />
		</div>
	</div>
</div>

<div class="sec-divider mt70 mb80"></div>

<div class="more-to-explore">
	<div class="row">
		<div class="col-sm-6">
			<p>MORE TO EXPLORE</p>
		</div>
		<div class="col-sm-6">
			<a>View more</a>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-3">
			<img src="./assets/img/sample_project4.png" />
		</div>
		<div class="col-sm-3 mob-sc-project">
			<div class="proj-title">Title of the Project</div>
			<div class="proj-desc">
				Lorem Ipsum is simply dummy text of the printing and typesetting industry.
			</div>
			<div class="proj-author">by Augustin</div>
		</div>
		<div class="col-sm-3">
			<img src="./assets/img/sample_project5.png"/>
		</div>
		<div class="col-sm-3 mob-sc-project">
			<div class="proj-title">Title of the Project</div>
			<div class="proj-desc">
				Lorem Ipsum is simply dummy text of the printing and typesetting industry.
			</div>
			<div class="proj-author">by Samuel John</div>
		</div>
		<div class="col-sm-3">
			<img src="./assets/img/sample_project6.png" />
		</div>
		<div class="col-sm-3 mob-sc-project">
			<div class="proj-title">Title of the Project</div>
			<div class="proj-desc">
				Lorem Ipsum is simply dummy text of the printing and typesetting industry.
			</div>
			<div class="proj-author">by Samuel John</div>
		</div>
		<div class="col-sm-3">
			<img src="./assets/img/sample_project4.png" />
		</div>
		<div class="col-sm-3 mob-sc-project">
			<div class="proj-title">Title of the Project</div>
			<div class="proj-desc">
				Lorem Ipsum is simply dummy text of the printing and typesetting industry.
			</div>
			<div class="proj-author">by Samuel John</div>
		</div>
	</div>
	<div class="row proj-details normal-sc-project">
		<div class="col-sm-3">
			<div class="proj-title">Title of the Project</div>
			<div class="proj-desc">
				Lorem Ipsum is simply dummy text of the printing and typesetting industry.
			</div>
			<div class="proj-author">by Augustin</div>
		</div>
		<div class="col-sm-3">
			<div class="proj-title">Title of the Project</div>
			<div class="proj-desc">
				Lorem Ipsum is simply dummy text of the printing and typesetting industry.
			</div>
			<div class="proj-author">by Samuel John</div>
		</div>
		<div class="col-sm-3">
			<div class="proj-title">Title of the Project</div>
			<div class="proj-desc">
				Lorem Ipsum is simply dummy text of the printing and typesetting industry.
			</div>
			<div class="proj-author">by Samuel John</div>
		</div>
		<div class="col-sm-3">
			<div class="proj-title">Title of the Project</div>
			<div class="proj-desc">
				Lorem Ipsum is simply dummy text of the printing and typesetting industry.
			</div>
			<div class="proj-author">by Samuel John</div>
		</div>
	</div>
</div>

<div class="sec-divider mt70 mb80"></div>

<div class="section-div">
	<div class="row">
		<div class="col-sm-8">
			<img class="rtimg m-0" src="./assets/img/sample_project3.png" />
		</div>
		<div class="col-sm-4">
			<div>
				<img class="ltimg" src="./assets/img/profile_icon.png" />
			</div>
			<h3>The Creative Independent</h3>
			<p>A growing resource of emotional and practical guidance for creative people.</p>
			<a href="">Visit The Creative Independent</a>
		</div>
	</div>
</div>

<div class="sec-divider mt70 mb80"></div>

<div class="top-fundraising-projects">
	<div class="row">
		<div class="col-sm-6">
			<p>TOP FUNDRAISING PROJECTS</p>
		</div>
		<div class="col-sm-6">
			<a>View more</a>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-4">
			<img src="./assets/img/sample_project2.png" />
		</div>
		<div class="col-sm-4 mob-sc-project">
			<div class="proj-title">Title of the Project</div>
			<div class="proj-desc">
				Lorem Ipsum is simply dummy text of the printing and typesetting industry.
			</div>
			<div class="proj-author">by Augustin</div>
		</div>
		<div class="col-sm-4">
			<img src="./assets/img/sample_project3.png"/>
		</div>
		<div class="col-sm-4 mob-sc-project">
			<div class="proj-title">Title of the Project</div>
			<div class="proj-desc">
				Lorem Ipsum is simply dummy text of the printing and typesetting industry.
			</div>
			<div class="proj-author">by Augustin</div>
		</div>
		<div class="col-sm-4">
			<img src="./assets/img/sample_project2.png" />
		</div>
		<div class="col-sm-4 mob-sc-project">
			<div class="proj-title">Title of the Project</div>
			<div class="proj-desc">
				Lorem Ipsum is simply dummy text of the printing and typesetting industry.
			</div>
			<div class="proj-author">by Augustin</div>
		</div>
	</div>
	<div class="row proj-details normal-sc-project">
		<div class="col-sm-4">
			<div class="proj-title">Title of the Project</div>
			<div class="proj-desc">
				Lorem Ipsum is simply dummy text of the printing and typesetting industry.
			</div>
			<div class="proj-author">by Augustin</div>
		</div>
		<div class="col-sm-4">
			<div class="proj-title">Title of the Project</div>
			<div class="proj-desc">
				Lorem Ipsum is simply dummy text of the printing and typesetting industry.
			</div>
			<div class="proj-author">by Samuel John</div>
		</div>
		<div class="col-sm-4">
			<div class="proj-title">Title of the Project</div>
			<div class="proj-desc">
				Lorem Ipsum is simply dummy text of the printing and typesetting industry.
			</div>
			<div class="proj-author">by Samuel John</div>
		</div>
	</div>

	<div class="row quote">
		<div class="quote-block">
			<div class="quote-text">
				“ Crowdfunding is one of those platforms that gives you space to work with people who know you, love you, and support you. ”
			</div>
		</div>
	</div>
</div>

<div class="mt70 mb10"></div>