.profile-content {
    padding: 0px 80px;
}

.user-img {
    height: 100px;
    width: 100px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-top: 60px;
    margin-right: auto;
}

.user-name {
    color: #4A4A4A;
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    text-align: center;
    margin-top: 15px;
}

.profile-details-block {
    width: 100%;
    background-color: #FFFFFF;
    box-shadow: 0 0 8px 0 rgba(0,0,0,0.26);
    height: 100%;
    margin-top: 70px;
    margin-bottom: 60px;
    padding: 0px 30px;
}

.tabs {
    color: #4A4A4A;
    font-size: 29px;
    line-height: 34px;
}

.tabs.active {
    height: 2px;
    border: 4px solid #000000;
    margin-top: 15px;
}

:host ::ng-deep .nav-tabs {
    border: 0px;
    margin-top: 30px;
}

:host ::ng-deep .nav-tabs .nav-item.show .nav-link, :host ::ng-deep .nav-tabs .nav-link.active {
    border : none;
    color: #9013FE;
    border-bottom: 3px solid #9013FE;
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
}

:host ::ng-deep .nav-link:focus, :host ::ng-deep .nav-link:hover {
    border: 1px solid #FFFFFF;
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
}

:host ::ng-deep a {
    color: #4A4A4A;
}

:host ::ng-deep .nav-tabs .nav-item {
    margin-bottom: 0px;
}

:host ::ng-deep .nav-link {
    padding: 0px 5px 5px;
    margin: 0px 15px;
    line-height: 34px;
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
}

:host ::ng-deep .nav-item.tabs-custom:first-child .nav-link {
    margin-left: 0px;
}

:host ::ng-deep .tab-content {
    margin-top: 60px;
    margin-bottom: 60px;
}

.tab-title {
    font-size: 35px;
    line-height: 41px;
    color: #000000;
}

.about-me {
    color: #4A4A4A;
    font-size: 18px;
    line-height: 21px;
}

.about-me-desc {
    color: #4A4A4A;
    font-size: 17px;
    letter-spacing: 0.5px;
    line-height: 25px;
}

.about-me-details {
    color: #4A4A4A;
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    margin-top: 150px;
    text-align: center;
}

.about-me-details-count {
    margin-top: 10px;
    font-size: 28px;
    line-height: 33px;
}
.backed-row {
    margin: 0px
}

.backed-block {
    border: 1px solid #979797;
    padding: 0px;
    max-width: 31.5%;
    margin-right: 30px;
}

.backed-block:last-child {
    margin-right: 0px;
}

.backed-img {
    height: 250px;
    width: 100%;
}

.backed-details {
    padding: 0px 20px;
}

.backed-details .title {
    color: #2E384D;
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
    margin-top: 40px;
}

.backed-details .desc {
    color: #2E384D;
    font-size: 16px;
    line-height: 19px;
    margin-top: 30px;
}

.backed-details .author {
    color: #9B9B9B;
    font-size: 14px;
    line-height: 16px;
    margin-top: 20px;
}

.backed-details .price {
    color: #000000;
    font-size: 22px;
    font-weight: 500;
    line-height: 25px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.backed-details .price .backed {
    color: #9B9B9B;
    font-size: 14px;
    line-height: 17px;
}

@media screen and (max-width: 1200px) and (min-width: 992px) {
    .backed-block {
        margin-bottom: 30px;
    }
    .backed-img {
        height: 180px;
    }

}

@media screen and (max-width: 991px) and (min-width: 767px) {
    .profile-content {
        padding: 0px 40px;
    }
    .backed-img {
        height: 210px;
    }
    .backed-block {
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 768px) {
    .profile-content {
        padding: 0px 40px;
    }
    .backed-details {
        padding: 0px 15px;
    }
    .backed-details .title {
        margin-top: 25px;
    }
    .backed-details .desc {
        margin-top: 20px;
    }
    .backed-details .price {
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .backed-block {
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 767px) and (min-width: 640px) {
    .profile-content {
        padding: 0px 40px;
    }
    .backed-details{
        padding: 0px 15px;
    }
    .backed-details .title {
        margin-top: 25px;
    }
    .backed-details .desc {
        margin-top: 20px;
    }
    .backed-details .price {
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .backed-block {
        margin-right: 30px;
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 1310px) and (min-width: 768px) {
    .backed-block {
        max-width: 32%;
        margin-right: 12px;
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 767px) {
    .backed-block {
        max-width: 45%;
        margin-right: 12px;
    }
}

@media screen and (max-width: 639px) and (min-width: 481px) {
    .profile-content {
        padding: 0px 40px;
    }
    .backed-details{
        padding: 0px 15px;
    }
    .backed-details .title {
        margin-top: 5px;
    }
    .backed-details .desc {
        margin-top: 15px;
    }
    .backed-details .price {
        margin-top: 8px;
        margin-bottom: 10px;
    }
    .backed-img{
        height: 125px;
    }
}

@media screen and (max-width: 480px) {
    .about-me {
        max-width: 100%;
        margin-bottom: 4%;
    }
    .backed-block {
        max-width: 100%;
        margin-right: 0px;
        margin-bottom: 30px;
    }
    .about-me-details {
        margin-top: 60px;
    }
}

@media screen and (max-width: 380px) {
    :host ::ng-deep .nav-link {
        padding: 0px 2px 2px;
        margin: 0px 11px;
    }
    .about-me {
        max-width: 100%;
        margin-bottom: 4%;
    }
    .backed-block {
        padding: 0px;
        max-width: 100%;
        margin-right: 0px;
        margin-bottom: 30px;
    }
    .about-me-details {
        margin-top: 60px;
    }
    .backed-img {
        height: 200px;
        width: 100%;
    }
}
@media only screen and (max-width: 320px) {
    :host ::ng-deep .nav-link {
        padding: 0px 2px 2px;
        margin: 0px 3px;
    }
    .about-me {
        max-width: 100%;
        margin-bottom: 4%;
    }
    .backed-block {
        padding: 0px;
        max-width: 100%;
        margin-right: 0px;
        margin-bottom: 30px;
    }
    .about-me-details {
        margin-top: 60px;
    }
    .backed-img {
        height: 160px;
        width: 100%;
    }
    .profile-details-block {
        margin-top: 60px;
        margin-bottom: 60px;
        padding: 0px 20px;
    }
}


@media screen and (max-width: 767px) {
    :host ::ng-deep .nav-link:focus, :host ::ng-deep .nav-link:hover {
        border: 1px solid #FFFFFF;
        padding: 0px 10px 5px;
        margin: 0px 0px;
        font-size: 18px;
        line-height: 21px;
    }
    :host ::ng-deep .nav-link {
        padding: 0px 10px 5px;
        margin: 0px 0px;
        font-size: 18px;
        line-height: 21px;
    }
}