<div class="profile-content">
	<img class="user-img" src="./assets/img/sample_profile3.png" />
	<div class="user-name">{{this.userName}}</div>
	<div class="profile-details-block">
		<div class="row">
			<div class="col-sm-12">
				<tabset>
					<tab customClass="tabs-custom" heading="About" id="tab1">
						<div class="row">
							<div class="col-lg-2 col-md-3 col-sm-12 col-xs-12 about-me">
								About me:
							</div>
							<div class="col-lg-10 col-md-9 col-sm-12 col-xs-12  about-me-desc">
									Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
								{{this.userBio}}
							</div>
						</div>
						<div class="row">
							<div class="col-lg-2 col-md-3 col-sm-12 col-xs-12 about-me">
							</div>
							<div class="col-lg-10 col-md-9 col-sm-12 col-xs-12  about-me-details">
								<div class="row">
									<div class="col-sm-6">
										<div>Total Backed</div>
										<div class="about-me-details-count">{{totalProjectFunded}}</div>
									</div>
									<div class="col-sm-6">
										<div>My Projects</div>
										<div class="about-me-details-count">{{totalProjectRaised}}</div>
									</div>
								</div>
							</div>
						</div>
					</tab>
					<tab heading="Backed">
						<div class="row backed-row">
							<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 backed-block">
								<img class="backed-img" src="./assets/img/sample_project2.png">
								<div class="backed-details">
									<div class="title">
										Title of the Project 
									</div>
									<div class="desc">
										Lorem Ipsum is simply dummy text of the printing and typesetting industry.
									</div>
									<div class="author">
										by Augustin
									</div>
									<div class="price">
										$1250
										<span class="backed">backed</span>
									</div>
								</div>
							</div>
							<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 backed-block">
								<img class="backed-img" src="./assets/img/sample_project2.png">
								<div class="backed-details">
									<div class="title">
										Title of the Project 
									</div>
									<div class="desc">
										Lorem Ipsum is simply dummy text of the printing and typesetting industry.
									</div>
									<div class="author">
										by Augustin
									</div>
									<div class="price">
										$1250
										<span class="backed">backed</span>
									</div>
								</div>
							</div>
							<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 backed-block">
								<img class="backed-img" src="./assets/img/sample_project2.png">
								<div class="backed-details">
									<div class="title">
										Title of the Project 
									</div>
									<div class="desc">
										Lorem Ipsum is simply dummy text of the printing and typesetting industry.
									</div>
									<div class="author">
										by Augustin
									</div>
									<div class="price">
										$1250
										<span class="backed">backed</span>
									</div>
								</div>
							</div>
						</div>
					</tab>
					<tab heading="Saved">
						<div class="row backed-row">
							<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 backed-block">
								<img class="backed-img" src="./assets/img/sample_project2.png">
								<div class="backed-details">
									<div class="title">
										Title of the Project 
									</div>
									<div class="desc">
										Lorem Ipsum is simply dummy text of the printing and typesetting industry.
									</div>
									<div class="author">
										by Augustin
									</div>
									<div class="price">
										$1250
										<span class="backed">backed</span>
									</div>
								</div>
							</div>
							<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 backed-block">
								<img class="backed-img" src="./assets/img/sample_project2.png">
								<div class="backed-details">
									<div class="title">
										Title of the Project 
									</div>
									<div class="desc">
										Lorem Ipsum is simply dummy text of the printing and typesetting industry.
									</div>
									<div class="author">
										by Augustin
									</div>
									<div class="price">
										$1250
										<span class="backed">backed</span>
									</div>
								</div>
							</div>
							<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 backed-block">
								<img class="backed-img" src="./assets/img/sample_project2.png">
								<div class="backed-details">
									<div class="title">
										Title of the Project 
									</div>
									<div class="desc">
										Lorem Ipsum is simply dummy text of the printing and typesetting industry.
									</div>
									<div class="author">
										by Augustin
									</div>
									<div class="price">
										$1250
										<span class="backed">backed</span>
									</div>
								</div>
							</div>
						</div>
					</tab>
				</tabset>
			</div>
		</div>
	</div>
</div>