<div class="container-fluid" style="margin-bottom:3%;">
  <div class="row">
    <div class="col-sm-3 no-padding-left" id="side-side-bar">
        <div class="sidenav">
            <div class="back-div">
              <a class="sidenav-active" id="rules-anchor" style="border-top:1px solid #979797 !important;" >Rules</a>
              <a class="sidenav-text" id="basics-anchor">Basic</a>
              <a class="sidenav-text" id="story-anchor" >Story</a>
              <a class="sidenav-text" id="perks-anchor" >Perks</a>
              <a class="sidenav-text" id="people-anchor">People</a>
              <a class="sidenav-text" id="payment-anchor">Payment</a>
            </div>
          </div>
    </div>
    <div class="col-sm-12 no-padding-left" id="side-top-bar">
        <div class="row">
            <a class="sidenav-active sidenav-text" id="rules-anchor" style="border-top:1px solid #979797 !important;" >Rules</a>
            <a class="sidenav-text" id="basics-anchor" >Basic</a>
            <a class="sidenav-text" id="story-anchor" >Story</a>
            <a class="sidenav-text" id="perks-anchor" >Perks</a>
            <a class="sidenav-text" id="people-anchor" >People</a>
            <a class="sidenav-text" id="payment-anchor" >Payment</a>
        </div>
    </div>
    <div class="col-sm-9">
      <div class="row">
        <section id="rules" style="display: block;">
          <div class="col-sm-11 content-div">
            <div class="row">
              <div class="col-sm-2"></div>
              <div class="col-sm-10" style="margin-top: 3%;">
                  <p class="text-title"> Take a moment to review our rules </p>
                  <p class="text-sub-title"> Here are five rules every crowd funding project must follow. </p>
              </div>

              <div class="col-sm-1" style="margin-top:5%;"></div>
              <div class="col-sm-10" style="margin-top:5%;">
                <p class="number-text"> <span class="numbering-div" style="padding: 0px 2px 0px 2px;">&nbsp; 1 &nbsp;</span> Project must create something to share with others. </p>
                <p class="number-text"> <span class="numbering-div">&nbsp; 2 &nbsp;</span> Project must be honest and clearly presented. </p>
                <p class="number-text"> <span class="numbering-div">&nbsp; 3 &nbsp;</span> Project can't fundraise for charity. </p>
                <p class="number-text"> <span class="numbering-div">&nbsp; 4 &nbsp;</span> project must be unique. </p>
                <p class="number-text"> <span class="numbering-div">&nbsp; 5 &nbsp;</span> Project can't involve prohibited items. </p>
              </div>
              <div class="col-sm-1" style="margin-top:5%;"></div>
            </div>
            <input type="button" class="form-control pull-right rules-btn" value="Got it" (click)="nextSection('rules','basics')">
          </div>
        </section>
        <!-- section 2 >> Basics -->
        <section id="basics" style="display: none;width:100%;">
            <p class="text-title-top"> Start with Basics </p>
            <p class="text-sub-title-top"> Make it easier for people to learn about your project. </p>
            <div class="col-sm-11 content-div">
              <div class="row">
                <div class="col-sm-11 section-inner" style="margin-top: 3%;">
                    <p class="section-title"> Project Title </p>
                    <p class="section-sub-title"> What is the title of your campaign? </p>
                    <p class="text-basic" style="margin-top: 6%;"> Title </p>
                    <input type="text" #titleInp class="form-control form-text-input" [(ngModel)]="projTitle" [ngClass]="{'is-invalid': ((this.projTitle == '' || this.projTitle == null) && titleInp.classList.contains('ng-touched')) }" placeholder="My project title">
                    <p class="text-basic"> Subtitle </p>
                    <input type="text" #subtitleInp class="form-control form-text-input" [(ngModel)]="projSubTitle" [ngClass]="{'is-invalid': ((this.projSubTitle == '' || this.projSubTitle == null) && subtitleInp.classList.contains('ng-touched')) }" placeholder="My project subtitle">
                </div>
                <div class="col-sm-12" style="margin-top:3%;border: 0.5px solid #979797;"></div>
  
                <div class="col-sm-11 section-inner" style="margin-top: 3%;">
                    <p class="section-title"> Project Category </p>
                    <p class="section-sub-title"> What is the category of your campaign? </p>
                    <div class="dropdown" style="margin-bottom: 4%;">
                        <button type="button" id="projCategory" class="btn toggle-css" data-toggle="dropdown" >
                          Select project category
                        </button>
                        <div class="dropdown-menu">
                          <a (click)="setProjCat('Art')" class="dropdown-item">Art</a>
                          <a (click)="setProjCat('Music')" class="dropdown-item">Music</a>
                          <a (click)="setProjCat('Games')" class="dropdown-item">Games </a>
                          <a (click)="setProjCat('Recreation')" class="dropdown-item">Recreation </a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12" style="margin-top:3%;border: 0.5px solid #979797;"></div>
                <div class="col-sm-11 section-inner" style="margin-top: 3%;">
                    <p class="section-title"> Project Image </p>
                    <p class="section-sub-title">Add an image that clearly represents your Project? </p>
                    <ngx-dropzone (filesAdded)="onFilesAdded($event)" [label]="'Drop an image here or select a file'" [multiple]="false" [accept]="'image/png,image/jpeg,image/gif'" [showPreviews]="true" [maxFileSize]="100000000">
                    </ngx-dropzone>
                    <!-- <input type="text" class="form-control form-text-input" placeholder="My project subtitle"> -->
                </div>
                <div class="col-sm-12" style="margin-top:3%;border: 0.5px solid #979797;"></div>
                <div class="col-sm-11 section-inner" style="margin-top: 3%;">
                    <p class="section-title"> Project Video (optional) </p>
                    <p class="section-sub-title">Add a video that describes your Project? </p>
                    <ngx-dropzone (filesAdded)="onFilesAdded($event)" [label]="'Drop an video here or select a file'" [multiple]="false" [accept]="'video/mp4,video/mov,video/avi,video/mpeg'" [showPreviews]="true" [maxFileSize]="1000000000">
                    </ngx-dropzone>
                    <!-- <input type="text" class="form-control form-text-input" placeholder="My project subtitle"> -->
                </div>
                <div class="col-sm-12" style="margin-top:3%;border: 0.5px solid #979797;"></div>
                <div class="col-sm-12" style="margin-top:3%;border: 0.5px solid #979797;"></div>
                <div class="col-sm-11 section-inner" style="margin-top: 3%;">
                    <p class="section-title"> Funding goal </p>
                    <p class="section-sub-title">What is the funding target for your Project? </p>
                    <div class="row" id="nor-currency-div">
                      <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6 dropdown " style="margin-bottom: 4%;padding-right: 0px;">
                          <button type="button" id="currenyDiv" class="btn toggle-currency" data-toggle="dropdown">
                            Currency
                          </button>
                          <div class="dropdown-menu">
                            <a (click)="setCurr('USD')" class="dropdown-item">USD</a>
                            <a (click)="setCurr('INR')" class="dropdown-item">INR</a>
                            <a (click)="setCurr('YEN')" class="dropdown-item">YEN</a>
                            <a (click)="setCurr('BTC')" class="dropdown-item">BTC</a>
                          </div>
                      </div>
                      <input type="text" cfNumericOnly="true" #fundInp [(ngModel)]="projFundingGoalAmount" class="col-lg-10 col-md-10 col-sm-6 col-xs-6 form-control form-text-input" 
                      [ngClass]="{'is-invalid': ((this.projFundingGoalAmount == '' || this.projFundingGoalAmount == null) && fundInp.classList.contains('ng-touched')) }">
                    </div>
                    <div class="container-fluid" id="mob-currency-div" style="padding: 0px;">
                        <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6 dropdown" style="padding: 0px;">
                          <button type="button" id="currenyDiv" class="btn toggle-currency" data-toggle="dropdown">
                            Currency
                          </button>
                          <div class="dropdown-menu">
                            <a (click)="setCurr('USD')" class="dropdown-item">USD</a>
                            <a (click)="setCurr('INR')" class="dropdown-item">INR</a>
                            <a (click)="setCurr('YEN')" class="dropdown-item">YEN</a>
                            <a (click)="setCurr('BTC')" class="dropdown-item">BTC</a>
                          </div>
                        </div>
                        <input type="text" cfNumericOnly="true" #fundInp [(ngModel)]="projFundingGoalAmount" class="col-lg-10 col-md-10 col-sm-6 col-xs-6 form-control form-text-input" 
                        [ngClass]="{'is-invalid': ((this.projFundingGoalAmount == '' || this.projFundingGoalAmount == null) && fundInp.classList.contains('ng-touched')) }">
                    </div>
                </div>
                <div class="col-sm-12" style="margin-top:3%;border: 0.5px solid #979797;"></div>
                <div class="col-sm-11 section-inner" style="margin-top: 3%;">
                    <p class="section-title"> Campaign duration</p>
                    <p class="section-sub-title">Set a time limit for your campaign. you won't be able to change this after you launch. </p>
                    <input #projDurInp class="form-control form-text-input" [(ngModel)]="campainDuration" #drp="bsDaterangepicker" bsDaterangepicker placeholder="My project duration" [bsConfig]="bsValue"
                    [ngClass]="{'is-invalid': ((this.campainDuration == '' || this.campainDuration == null) && projDurInp.classList.contains('ng-touched')) }" readonly>
                    <p class="sub-text">You can run a campaign for any number of days, with a 60 days duration maximum. </p>
                </div>
              </div>
              
              <input type="button" class="form-control pull-right next-btn" value="Next: Story" (click)="nextSection('basics','story')">
              <!-- <div class="invalid-feedback"> -->
                  <div class="pull-right invalid-text errMsg" *ngIf="invalidBasics">Please fill the required fields</div>
              <!-- </div> -->
            </div>
          </section>
          <!-- section 3 >> Story -->
          <section id="story" style="display: none;width:100%;">
              <p class="text-title-top"> Introduce your project </p>
              <p class="text-sub-title-top"> Tell people why they should be excited about your project. <br/>Get specific but be clear and be brief. </p>
              <div class="col-sm-11 content-div">
                <div class="row">
                  <div class="col-sm-11 section-inner" style="margin-top: 3%;">
                      <p class="section-title"> Project Description </p>
                      <p class="story-sub-title"> Describe what you're raising fund to do, why they should care about it, how you plan to make it happen 
                      and who your are, your description should tell backers everything they need to know. If possible, 
                        include image to show them what your project is all about what rewards look like.
                      </p>

                      <input type="text" #descInp [(ngModel)]="projDescription" class="form-control form-text-input" placeholder="My project Description"
                      [ngClass]="{'is-invalid': ((this.projDescription == '' || this.projDescription == null) && descInp.classList.contains('ng-touched')) }">
                  </div>
                  <div class="col-sm-12" style="margin-top:3%;border: 0.5px solid #979797;"></div>
    
                  <div class="col-sm-11 section-inner" style="margin-top: 3%;">
                      <p class="section-title"> Risk and challenges </p>
                      <p class="story-sub-title" > Be hanest about the potensial risks and challenges of this project  and how you plan to overcome then to complete it
                      </p>

                      <input type="text" #challengeInp [(ngModel)]="projChallenges" class="form-control form-text-input" placeholder="Explain common risks and challenges" style="height: 116px;"
                      [ngClass]="{'is-invalid': ((this.projChallenges == '' || this.projChallenges == null) && challengeInp.classList.contains('ng-touched')) }">
                  </div>
  
                  <div class="col-sm-12" style="margin-top:3%;border: 0.5px solid #979797;margin-bottom: 5%;"></div>

                </div>
                <input type="button" class="form-control pull-right next-btn" value="Next: Perk" (click)="nextSection('story','perks')">
                <div class="pull-right invalid-text errMsg" *ngIf="invalidStory">Please fill the required fields</div>
              </div>
            </section>
          <!-- section 4 >> Perks -->
        <section id="perks" style="display: none;width:100%;">
            <p class="text-title-top"> Add your perks </p>
            <p class="text-sub-title-top"> Perks are incentive offered to backers in exchange for their support. <br/> 
            You may edit your perks details untill the perk is claimed.
            </p>
            <div class="col-sm-11 content-div">
              <div class="row">
                <div class="col-sm-11 section-inner" style="margin-top: 3%;">
                    <p class="section-title"> Title </p>
                    <p class="section-sub-title"> Describe the perk </p>
                    <p class="text-basic" style="margin-top: 6%;"> Title </p>
                    <input type="text" #projPerkInp [(ngModel)]="perkTitle" class="form-control form-text-input" placeholder="Ex: Signed limited edition"
                    [ngClass]="{'is-invalid': ((this.perkTitle == '' || this.perkTitle == null) && projPerkInp.classList.contains('ng-touched')) }">
                </div>
                <div class="col-sm-12" style="margin-top:3%;border: 0.5px solid #979797;margin-bottom: 5%;"></div>
                <div class="col-sm-11 section-inner" style="margin-top: 3%;">
                    <p class="section-title"> Pledge amount </p>
                    <p class="section-sub-title"> Set a minimum pledge amount for this perk</p>
                    <input type="text" cfNumericOnly="true" #projPerkAmountInp [(ngModel)]="perkAmount" class="form-control form-text-input" placeholder="100$"
                    [ngClass]="{'is-invalid': ((this.perkAmount == '' || this.perkAmount == null) && projPerkAmountInp.classList.contains('ng-touched')) }">
                </div>
              
                <div class="col-sm-12" style="margin-top:3%;border: 0.5px solid #979797;margin-bottom: 5%;"></div>

                <div class="col-sm-11 section-inner" style="margin-top: 3%;">
                    <p class="section-title"> Description </p>
                    <p class="section-sub-title"> Describe the perk in more detail</p>
                    <input type="text" #projPerkDescInp [(ngModel)]="perkDesc" class="form-control form-text-input" placeholder="Describe perk" style="height: 116px;"
                    [ngClass]="{'is-invalid': ((this.perkDesc == '' || this.perkDesc == null) && projPerkDescInp.classList.contains('ng-touched')) }">

                    <p class="reward-text"> Reward quality</p>
                    <p class="sub-text">You may want to limit the quantity of this reward available to backers if production or shipping is difficult, time
                  consuming, or not scalable </p>
                    <div class="col-sm-12 radioDiv" >
                        <label class="cont">Unlimited
                            <input type="radio" (click)="setPerkQuantity('Unlimited')" checked="checked" name="rewardQuantity" style="opacity: 0;">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                    <div class="col-sm-12 radioDiv" style="margin-bottom: 6%;">
                        <label class="cont">Limit availability
                            <input type="radio" (click)="setPerkQuantity('Limited')" checked="checked" name="rewardQuantity" style="opacity: 0;">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                </div>

              </div>
              <input type="button" class="form-control pull-right next-btn" value="Next: People" (click)="nextSection('perks','people')">
              <div class="pull-right invalid-text errMsg" *ngIf="invalidPerk">Please fill the required fields</div>
            </div>
          </section>
          <!-- section 5 >> people -->
        <section id="people" style="display: none;width:100%;">
            <p class="text-title-top"> Introduce yourself </p>
            <p class="text-sub-title-top"> Give backers an idea of who you are, add collaborators if you work with a team. </p>
            <div class="col-sm-11 content-div">
              <div class="row">
                <div class="col-sm-11 section-inner" style="margin-top: 3%;">
                    <p class="section-title"> Your profile </p>
                    <p class="section-sub-title"> Complete your profile </p>
                    <input type="button" [(ngModel)]="this.global.userName" class="form-control edit-profile-btn" value="Jonathan: Edit Profile">
                </div>
                <div class="col-sm-12" style="margin-top:3%;border: 0.5px solid #979797;margin-bottom: 5%;"></div>

                <div class="col-sm-11 section-inner" style="margin-top: 3%;">
                    <p class="section-title"> Collaborators </p>
                    <p class="section-sub-title"> If you're working with others, you can grant them permission to edit this project, communicate with backers, and coordinate reward fulfillment. </p>
                    <div class="row">

                          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 selected-filters-col" *ngIf="allCollaborators.length>0">
                              <ul class="selected-filters-list">
                                  <li class="li-selected-filters-list" *ngFor="let collabMail of allCollaborators">
                                      <span class="selected-filters-list-text">{{collabMail}}</span>
                                      <span class="selected-filters-list-img"><a (click)="removeCollab(collabMail)"><img src="assets/img/close-icon.svg"></a></span>
                                  </li>
                              </ul>
                          </div>

                        <div class="col-sm-9" style="margin-bottom: 4%;padding-right: 0px;">
                            <input type="text" [(ngModel)]="collaboratorEmail" class="form-control form-text-input emaildiv" placeholder="Email id"/>
                        </div>
                        <div class="col-sm-1"></div>
                        <input type="button" class="col-sm-2 form-control add-colab-btn" value="Add" (click)="addCollaborator()" style="margin-left: -2.2%;"/>

                        <div class="colabMsg" *ngIf="CollabSuccessMsg">Collaborator added successfully</div>
                        <div class="colabMsg" *ngIf="invalidCollabMsg">Please fill the collaborators field</div>
                      </div>
                </div>

                <div class="col-sm-12" style="margin-top:3%;border: 0.5px solid #979797;margin-bottom: 5%;"></div>

              </div>
              <input type="button" class="form-control pull-right next-btn" value="Next: Payment" (click)="nextSection('people','payment')">
            </div>
          </section>
          <!-- section 6 >> payment -->
        <section id="payment" style="display: none;width:100%;">
            <p class="text-title-top"> Confirm your identity and link a bank account </p>
            <p class="text-sub-title-top"> Provide additional details about yourself and where funds should be sent, <br/>if your project is successfully funded. </p>
            
            <div class="col-sm-11 content-div">
                <div class="row">
                  <div class="col-sm-11 section-inner" style="margin-top: 3%;">
                      <p class="section-title"> Your profile </p>
                      <p class="section-sub-title"> Complete your profile </p>
                      <input type="button" [(ngModel)]="this.global.userName" class="form-control confirm-profile-btn" value="Jonathan: Edit Profile">
                  </div>
                  
                  <div class="col-sm-12" style="margin-top:3%;border: 0.5px solid #979797;margin-bottom: 5%;"></div>
  
                  <div class="col-sm-11 section-inner" style="margin-top: 3%;">
                      <p class="section-title"> Funds recipient </p>
                      <p class="section-sub-title"> Enter info for the individual or legal entity running this period. </p>
                      <p class="section-sub-title"> if your're running this project as a leagal entity, someone within the organization should complete this section. </p>
                      <div class="row">
                          <div class="col-sm-5 radioDiv" id="radivDivId" style="margin-left: 2%;">
                              <label class="rad">Individual
                                  <input type="radio" (click)="setFundOwner('Individual')" checked="checked" name="fundsRecipient" style="opacity: 0;">
                                  <span class="checkmark"></span>
                              </label>
                          </div>
                          <div class="col-sm-1" ></div>
                          <div class="col-sm-5 radioDiv">
                              <label class="rad">Organization
                                  <input type="radio" (click)="setFundOwner('Organization')" checked="checked" name="fundsRecipient" style="opacity: 0;">
                                  <span class="checkmark"></span>
                              </label>
                          </div>
                      </div>
                      
                  </div>
  
                  <div class="col-sm-12" style="margin-top:3%;border: 0.5px solid #979797;margin-bottom: 5%;"></div>
                  <div class="col-sm-11 section-inner" style="margin-top: 3%;">
                    <p class="section-title"> Idenity confirmation </p>
                    <p class="section-sub-text">First name</p>
                    <input type="text" #userFirstInp [(ngModel)]="IdentityFirstName" class="form-control form-text-input" placeholder="First name" 
                    [ngClass]="{'is-invalid': ((this.IdentityFirstName == '' || this.IdentityFirstName == null) && userFirstInp.classList.contains('ng-touched')) }">
                    <p class="section-sub-text">Last name</p>
                    <input type="text" #userLastInp [(ngModel)]="IdentityLastName" class="form-control form-text-input" placeholder="Last name" 
                    [ngClass]="{'is-invalid': ((this.IdentityLastName == '' || this.IdentityLastName == null) && userLastInp.classList.contains('ng-touched')) }">
                    <p class="section-sub-text">Date of birth</p>
                    <div class="dob-div" style="margin-bottom: 5%;">
                      <span class="section-sub-text rightFloat" style="margin-right: 3%;">Day</span>
                      <span max="2" class="section-sub-text rightFloat" style="margin-right: 1%;">Month</span>
                      <span class="section-sub-text rightFloat" >Year</span>
                      <br/>
                      <input type="text" cfNumericOnly="true" max="2" #dayInp [(ngModel)]="DOBDay" class="form-control dayInput" placeholder="DD" 
                      [ngClass]="{'is-invalid': ((this.DOBDay == '' || this.DOBDay == null) && dayInp.classList.contains('ng-touched')) }"/>
                      <input type="text" cfNumericOnly="true" #monthInp [(ngModel)]="DOBMonth" class="form-control monthInput" placeholder="MM" 
                      [ngClass]="{'is-invalid': ((this.DOBMonth == '' || this.DOBMonth == null) && monthInp.classList.contains('ng-touched')) }"/>
                      <input type="text" cfNumericOnly="true" max="4" #yearInp [(ngModel)]="DOBYear" class="form-control yearInput" placeholder="YYYY" 
                      [ngClass]="{'is-invalid': ((this.DOBYear == '' || this.DOBYear == null) && yearInp.classList.contains('ng-touched')) }"/>
                    </div>
                    <p class="section-sub-text">Home address</p>
                    <input type="text" #userAddOne [(ngModel)]="addressOne" class="form-control form-text-input" placeholder="Street address" 
                    [ngClass]="{'is-invalid': ((this.addressOne == '' || this.addressOne == null) && userAddOne.classList.contains('ng-touched')) }">
                    <input type="text" [(ngModel)]="addressTwo" class="form-control form-text-input" placeholder="(Optional)" >
                    <p class="section-sub-text">City</p>
                    <input type="text" #userAddCity [(ngModel)]="addressCity" class="form-control form-text-input" placeholder="City" 
                    [ngClass]="{'is-invalid': ((this.addressCity == '' || this.addressCity == null) && userAddCity.classList.contains('ng-touched')) }">
                    <p class="section-sub-text">Postal code</p>
                    <input type="text" #userAddPin cfNumericOnly="true" [(ngModel)]="addressPin" class="form-control form-text-input" placeholder="759101" 
                    [ngClass]="{'is-invalid': ((this.addressPin == '' || this.addressPin == null) && userAddPin.classList.contains('ng-touched')) }">
                    <p class="section-sub-text">Country</p>
                    <input type="text" #userAddCountry [(ngModel)]="addressCountry" class="form-control form-text-input" placeholder="Country" 
                    [ngClass]="{'is-invalid': ((this.addressCountry == '' || this.addressCountry == null) && userAddCountry.classList.contains('ng-touched')) }">
                    <p class="section-title"> Bank account details </p>
                    <p class="section-sub-text" style="margin-bottom: 5%;">Add details for the bank account that belongs to the individual or entity running the project and receiving funds.</p>
                    <p class="section-title"> Payment source </p>
                    <p class="section-sub-text" style="margin-bottom: 5%;">Add a credit or debit card that we may use in the event of chargeback.</p>
                  </div>
  
                </div>
                <input type="button" (click)="nextSection('payment', 'nextpage')" class="form-control pull-right next-btn" value="Complete" >
                <div class="pull-right invalid-text errMsg" *ngIf="invalidPayment">Please fill the required fields</div>
              </div>
          </section>
      </div>
    </div>
  </div>
</div>