.sidenav {
    height: 100%;
    width: 80%;
    position: sticky;
    z-index: 1;
    top: 0;
    left: 0;
    
    overflow-x: hidden;
    color: #4A4A4A;	
    // font-family: Roboto;	
    font-size: 17px;	
    line-height: 20px;
  }
  .back-div{
  background-color: #9013FE;

  }
  #side-top-bar{
      display: none;
  }
  .invalid-text{
    margin-right: 1%;
    margin-top: 1%;
  }

  #mob-currency-div{
      display: none;
  }
  .colabMsg{
    margin-left: 2%;
    margin-top: -4%;
  }

  .errMsg{
    color:rgb(253, 69, 69);
  }
  
  .sidenav a {
    padding: 24px 11px 23px 18px;
    text-decoration: none;
    color: #818181;
    display: block;
    color: #4A4A4A;
    // font-family: Roboto;	
    font-size: 17px;	
    font-weight: 500;	
    line-height: 20px;
    background-color: #fff;
  }
  .sidenav-active{
      margin-left:5%;
      color: #9013FE !important;
      border: 1px solid #979797;
  }
  
  .sidenav a:hover {
    color: #9013FE;
    font-weight: 700;
  }
  
  .no-padding-left{
      padding-left:0px !important;
  }
  .sidenav-text{
      border-top:0px solid !important;
    border: 1px solid #979797;
  }
  .content-div{
    margin-top: 6%;
    box-shadow: 0 0 8px 0 rgba(0,0,0,0.26);
    // border: 0.5px solid #979797;
    padding-bottom:10%;
  }
  .text-title{
    color: #000000;	
    // font-family: Roboto;	
    font-size: 28px;	
    line-height: 20px;
}
.text-sub-title{
    color: #4A4A4A;	
    // font-family: Roboto;	
    font-size: 17px;	
    line-height: 20px;
}
.number-text{
    color: #4A4A4A;	
    // font-family: Roboto;	
    font-size: 16px;	
    line-height: 19px;
    margin-bottom: 5%;
}
.numbering-div{
    border: 1px solid #979797;
    border-radius: 50%;
    padding: 0px 0px 0px 0px;
    margin-right: 5%;
}
.rules-btn{
    border: 1px solid #979797;	
    border-radius: 5px;	
    background-color: #9013FE;
    width: 11%;
    color: #fff;
    letter-spacing: 0.7px;
    font-weight: 600;
    margin-right: 6%;
}
.text-title-top{
    color: #4A4A4A;	
    // font-family: Roboto;	
    font-size: 28px;	
    font-weight: 700;	
    line-height: 28px;
    text-align: center;
    margin-top: 4%;
    margin-left: -10%;
}
.text-sub-title-top{
    color: #4A4A4A;	
    // font-family: Roboto;	
    font-size: 20px;	
    font-weight: 500;	
    line-height: 20px;
    text-align: center;
    margin-left: -10%;
}
.section-title{
    color: #4A4A4A;	
    // font-family: Roboto;	
    font-size: 27px;	
    font-weight: 700;	
    line-height: 20px;
    text-align: left;
}
.section-sub-title{
    color: rgba(74,74,74,0.78);	
    // font-family: Roboto;	
    font-size: 19px;	
    line-height: 20px;
    text-align: left;
}
.section-inner{
    margin-left: 5%;
}
.text-basic{
    color: #000000;	
    // font-family: Roboto;	
    font-size: 21px;	
    line-height: 24px;
}
.form-text-input{
    border: 1px solid #979797;
    border-radius: 0px;
    height: 49px;
    margin-bottom: 2%;
}
.toggle-css{
    border: 1px solid #979797;	
    width: 100%;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.5);
    padding: 12px 5px 12px 16px;
    text-align: left;
    border-radius: 0px;
}
.dropdown-menu.show{
    width:100%;
}
.toggle-currency{
    border: 1px solid #979797;	
    width: 100%;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.5);
    padding: 12px 5px 12px 16px;
    text-align: left;
    border-radius: 0px;
    border: 1px solid #979797;	
    opacity: 0.35;	
    background-color: #D8D8D8;
    color: #4A4A4A !important;	
    // font-family: Roboto;	
    font-size: 15px;	
    font-weight: 500;	
    line-height: 23px;
}
.sub-text{
    color: rgba(74,74,74,0.78);	
    // font-family: Roboto;	
    font-size: 16px;	
    line-height: 19px;
}
.next-btn{
    border: 1px solid #979797;	
    background-color: #9013FE;
    color: #FFFFFF;	
    // font-family: Roboto;	
    font-size: 20px;	
    font-weight: bold;	   
    line-height: 25px;
    width: 24%;
    margin-right: 3.5%;
    border-radius: 0px;
}
ngx-dropzone{
    background-color: #D8D8D8;
}
.story-sub-title{
    color: rgba(74,74,74,0.78);	
    // font-family: Roboto;	
    font-size: 18px;	
    line-height: 24px;
}
.reward-text{
    color: #4A4A4A;
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
}

.checkmark {
    position: absolute;
    top: 22px;
    left: 24px;
    height: 15px;
    width: 15px;
    background-color: #eee;
    border-radius: 50%;
    border: 1px solid #979797;
  }
  
  /* On mouse-over, add a grey background color */
  .radioDiv:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the radio button is checked, add a blue background */
  .radioDiv input:checked ~ .checkmark {
    background-color: #fff;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .radioDiv input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .radioDiv .checkmark:after {
      top: 1px;
      left: 1px;
      width: 13px;
      height: 13px;
      border-radius: 50%;
      background-color: #9013FE;
  }

  .radioDiv{
    border: 1px solid #979797;
    margin-bottom: 2%;
    padding: 18px 9px 12px 52px;
  }

  .edit-profile-btn{
    height: 58px;	
    width: 100%;	
    border: 1px solid #979797;	
    background-color: #000000;
    color: #FFFFFF;	
    // font-family: Roboto;	
    font-size: 19px;	
    font-weight: bold;	
    line-height: 24px;
    text-align: center;
  }
  .add-colab-btn{
    height: 49px;	
    border: 1px solid #979797;	
    background-color: #000000;
    color: #FFFFFF;	
    // font-family: Roboto;	
    font-size: 19px;	
    font-weight: bold;	
    line-height: 24px;
  }
  .confirm-profile-btn{
    height: 58px;	
    width: 100%;
    color: #000000;	
    // font-family: Roboto;	
    font-size: 19px;	
    font-weight: bold;	
    line-height: 24px;
    text-align: center;
    border: 1px solid #979797;	
    background-color: rgba(155,155,155,0.15);
  }

  .cont {
    /* position: relative;
    padding-left: 35px; */
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #4A4A4A;	
  //   font-family: Roboto;	
    font-size: 16px;	
    letter-spacing: 0.47px;	
    line-height: 15px;
    margin-right: 4%;
  }
  
  .rad input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }

  .checkmark {
    position: absolute;
    top: 22px;
    left: 24px;
    height: 17px;
    width: 17px;
    background-color: #eee;
    border-radius: 50%;
    border: 1px solid #979797;
  }
  
  .rad:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  .rad input:checked ~ .checkmark {
    background-color: #fff;
  }

  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  .rad input:checked ~ .checkmark:after {
    display: block;
  }
  
  .rad .checkmark:after {
      top: 1px;
      left: 1px;
      width: 13px;
      height: 13px;
      border-radius: 50%;
      background-color: #9013FE;
  }
 .dayInput{
    width:6%;
    display: unset;
    margin-right: 1%;
    font-size: 14px;
 }
 .monthInput{
    width:6%;
    display: unset;
    margin-right: 1%;
    font-size: 14px;
}
.yearInput{
    width:10%;
    display: unset;
    margin-right: 1%;
    font-size: 14px;
}
.selected-filters-col {
	padding-left: 0px;
	padding-right: 0px;
	margin-bottom: 18px;
}

.selected-filters-list {
	list-style: none;
	display: block;
}

.li-selected-filters-list {
	display: block;
	float: left;
	margin-right: 15px;
	background-color: bisque;
	border-radius: 100px;
	height: 23px;
	padding-right: 10px;
	margin-top: 3px;
}

.li-selected-filters-list span.selected-filters-list-text {
	padding-left: 10px;
	font-family: Poppins;
	font-size: 12px;
    color: black;
}

.li-selected-filters-list span.selected-filters-list-img {
	padding-left: 15px;
}

.li-selected-filters-list span.selected-filters-list-img a {
	cursor: pointer;
}


@media screen and (max-width: 1200px) and (min-width: 992px) {


}
@media screen and (max-width: 991px) and (min-width: 767px) {

}
@media screen and (max-width: 768px) {
    .number-text {
        font-size: 14px;
    }
    .rules-btn{
        width: 21%;
    }
    .text-title{
        font-size: 19px;
        line-height: 13px;
    }
    .text-sub-title {
        font-size: 14px;
        line-height: 16px;
    }
    .text-title-top{
        font-size: 21px;
    }
    .text-sub-title-top{
        font-size: 17px;
    }
    .section-title{
        font-size: 21px;
    }
    .section-sub-title{
        font-size: 16px;
    }
    .text-basic {
        font-size: 20px;
    }
    .toggle-currency{
        padding: 2px;
        font-size: 13px;
        height: 49px;
    }
    .next-btn{
        font-size: 14px;
        line-height: 23px;
    }
    .story-sub-title{
        font-size: 18px;
        line-height: 19px;
    }
    .dayInput{
        width: 11%;
        display: unset;
        margin-right: 1%;
        font-size: 13px;
    }
    .monthInput {
        width: 11%;
        display: unset;
        margin-right: 1%;
        font-size: 13px;
    }
    .yearInput {
        width: 14%;
        display: unset;
        margin-right: 1%;
        font-size: 13px;
    }
}
@media screen and (max-width: 767px) and (min-width: 640px) {}
@media screen and (max-width: 639px) and (min-width: 481px) {
    .toggle-currency{
        padding: 2px;
        font-size: 10px;
        height: 49px;
    }
    .story-sub-title{
        font-size: 15px;
        line-height: 22px;
    }
    .next-btn{
        font-size: 11px;
        line-height: 19px;
    }
    .dayInput{
        width: 13%;
        display: unset;
        margin-right: 1%;
        font-size: 13px;
    }
    .monthInput {
        width: 13%;
        display: unset;
        margin-right: 1%;
        font-size: 13px;
    }
    .yearInput {
        width: 16%;
        display: unset;
        margin-right: 1%;
        font-size: 13px;
    }
}
@media only screen and (max-width: 555px) {

}
@media screen and (max-width: 480px) {
    #nor-currency-div{
        display: none;
    }
    #mob-currency-div{
        display: block;
    }
    #side-side-bar{
        display: none;
    }
    #side-top-bar{
        display: block;
    }
    .sidenav-active{
        margin-left: 6.5%;
    }
    .sidenav-text, .sidenav-active{
        padding: 6px 7px 6px 7px
    }
    .text-title {
        font-size: 17px;
        line-height: 13px;
    }
    .text-title-top{
        margin-left: -4%;
    }
    .text-sub-title-top {
        font-size: 15px;
        margin-left: 0%;
    }
    .section-inner{
        margin-left: 0%;
    }
    .toggle-currency {
        padding: 2px;
        font-size: 13px;
        height: 49px;
        text-align: center;
    }
    .story-sub-title{
        font-size: 15px;
        line-height: 16px;
    }

    .next-btn {
        border: 1px solid #979797;
        background-color: #9013FE;
        color: #FFFFFF;
        font-size: 13px;
        font-weight: bold;
        line-height: 18px;
        width: 35%;
        margin-right: 0%;
        border-radius: 0px;
    }
    .emaildiv{
        width: 96.5%;
    }
    .add-colab-btn{
        width: 94%;
        margin-left: 3% !important;
    }
    .text-title-top{
        font-size: 17px;
    }
    #radivDivId{
        margin-left:0% !important;
    }
}
@media screen and (max-width: 406px) {
    .sidenav-text, .sidenav-active{
        padding: 6px 4px 6px 4px;
    }
    .dayInput {
        width: 14%;
        display: unset;
        margin-right: 1%;
        font-size: 13px;
    }
    .monthInput{
        width: 14%;
        display: unset;
        margin-right: 1%;
        font-size: 13px;
    }
    .yearInput {
        width: 18%;
        display: unset;
        margin-right: 1%;
        font-size: 13px;
    }
}
@media screen and (max-width: 380px) {
    .sidenav-text, .sidenav-active{
        padding: 6px 4px 6px 4px;
    }
    .dayInput {
        width: 14%;
        display: unset;
        margin-right: 1%;
        font-size: 13px;
    }
    .monthInput{
        width: 14%;
        display: unset;
        margin-right: 1%;
        font-size: 13px;
    }
    .yearInput {
        width: 18%;
        display: unset;
        margin-right: 1%;
        font-size: 13px;
    }
}
@media only screen and (max-width: 320px) {
    .sidenav-text, .sidenav-active{
        padding: 6px 0px 6px 0px;
    }
    .dayInput {
        width: 16%;
        display: unset;
        margin-right: 1%;
        font-size: 13px;
    }
    .monthInput{
        width: 16%;
        display: unset;
        margin-right: 1%;
        font-size: 13px;
    }
    .yearInput {
        width: 21%;
        display: unset;
        margin-right: 1%;
        font-size: 13px;
    }
    .content-div {
        margin-top: 6%;
        box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.26);
        padding-bottom: 16%;
    }
    .rules-btn {
        width: 25%;
    }
    .next-btn {
        border: 1px solid #979797;
        background-color: #9013FE;
        color: #FFFFFF;
        font-size: 13px;
        font-weight: bold;
        line-height: 18px;
        width: 42%;
        margin-right: 0%;
        border-radius: 0px;
    }
}
